* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----------------navbar----------------- */

body {
    background-color: #000000;
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}


/* -------------hero-image-start------------ */

.hero-image {
    width: 100%;
    height: auto;
    background-color: rgb(46, 46, 46);
}
.inner-image-div {
    position: relative;
}
.inner-image-div img {
    width: 100%;
}
.inner-image-div h1 {
    color: white;
    position: absolute;
    font-size: 2.9rem;
    top: 15%;
    left: 8%;
    color: black;
    font-family: Maxim-Klavika-MediumCondensed;
}
/* -----------------hero-image-end---------------- */


/* --------------------------Overview & brands box----------------------------  */

section {
    margin-bottom: 0px;
}

.overview-brand-box {
    width: 100%;
    height: 80px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.inneroverview {
    width: 83%;
}

.overview-brand-box a {
    margin-right: 20px;
    padding: 23.5px 2px;
    font-size: 1.3rem;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.overview-brand-box .industries,
.overview-brand-box .brands,
.overview-brand-box .categories,
.overview-brand-box .standards,
.overview-brand-box .applications {
    border-bottom: 3px solid #00adef;
}


/* -------------------Overview & brands box------------- */


/* ----------------------text-container-start-------------- */

.text-container {
    width: 100%;
    height: auto;
    background: white;
    display: flex;
    justify-content: center;
}
.inner-text-div {
    width: 83%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 50px;
}
.para h2 {
    margin-bottom: 35px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    font-family: Maxim-Klavika-MediumCondensed;
}
.para p {
    margin-bottom: 25px;
    margin-top: 15px;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
}
.second-para .sub-heading {
    text-align: center;
    margin-bottom: 35px;
}
.para .second-para {
    margin-top: 0%;
}


/* ---------------------text-container-end------------ */


/* ----------------images-container-start----------- */

.images-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.inner-img-div {
    width: 83%;
}
.Images {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 80px;
}
.Images img {
    width: 100%;
    height: 415px;
    border-radius: 4px;
}
.layer-1,.layer-3 {
    width: 32%;
    height: 99.5%;
    position: absolute;
    top: 0;
    background-color: #1e1e1e;
    opacity: 0.8;
    padding-right: 2%;
    border-radius: 4px 0 0 4px;
}
.layer-4,.layer-2 {
    width: 32%;
    height: 99.5%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1e1e1e;
    opacity: 0.8;
    padding-right: 2%;
    border-radius: 0 4px 4px 0;

}

.layer-1 h2,.layer-2 h2,.layer-3 h2,.layer-4 h2 {
    color: white;
    margin-top: 20%;
    margin-left: 8%;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    font-family: Maxim-Klavika-LightCondensed;
}

.layer-1 p,.layer-2 p,.layer-3 p,.layer-4 p {
    color: white;
    margin-top: 12%;
    margin-left: 8%;
    font-size: 16px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
}

/* ----------------images-container-end----------- */


/* --------footer------------ */

.st-info {
    margin-top: 0px;
}


/* ----------------footer------------ */

@media(max-width:1680px) {}

@media(max-width:1199px) {
    .layer p {
        font-size: 15px;
    }
    .layer h2 {
        font-size: 24px;
    }
    .inner-image-div h1 {
        font-size: 30px;
    }
}

@media(max-width:1024px) {
    .para h2 {
        font-size: 23px;
    }
    .para p {
        font-size: 16px;
    }
    .inner-image-div h1 {
        font-size: 30px;
    }
    .Images img {
        height: 300px;
    }
}

@media(max-width:768px) {
    .Images img {
        height: 250px;
    }
    .layer {
        width: 38%;
    }
    .layer h2 {
        font-size: 19px;
    }
    .layer p {
        font-size: 14px;
    }
    .layer-4, .layer-2,.layer-1, .layer-3 {
        height: 98.9%;
    }
}

@media(max-width:575px) {
    .para h2 {
        font-size: 18px;
    }
    .para p {
        font-size: 13px;
    }
    .Images img {
        height: 160px;
    }
    .layer {
        width: 42%;
    }
    .layer h2 {
        font-size: 16px;
    }
    .layer p {
        font-size: 12px;
    }
    .inner-image-div h1 {
        font-size: 25px;
    }
    .overview-brand-box a {
        padding: 19px 2px;
        font-size: 1rem;
    }
    .overview-brand-box {
        height: 65px;
    }
    .layer-1 h2, .layer-2 h2, .layer-3 h2, .layer-4 h2 {
        margin-top: 7%;
    }
    .Images {
        margin-bottom: 50px;
    }
    .layer-4, .layer-2,.layer-1, .layer-3 {
        height: 98.2%;
    }
}

@media(max-width:425px) {
    .overview-brand-box div {
        margin-left: 0px;
    }
    .overview-brand-box {
        justify-content: center;
    }
    .para h2 {
        font-size: 16px;
    }
    .para p {
        font-size: 12px;
    }
    .inner-image-div h1 {
        font-size: 20px;
    }
    .inner-text-div {
        padding-top: 8%;
    }
}

@media (max-width:375px) {
    .header-item-right {
        position: absolute;
        right: 10px;
    }
    
    .header-item-left h1 {
        font-size: 12px;
    }
    .layer h2 {
        font-size: 14px;
    }
    .layer p {
        font-size: 10px;
    }
    .inner-image-div h1 {
        font-size: 18px;
    }
    .inner-text-div {
        padding-top: 8% !important;
    }
}

@media (max-width:320px) {
    .layer h2 {
        font-size: 12px;
    }
    .layer p {
        font-size: 10px;
    }
    .para p {
        margin-bottom: 19px;
    }
    .inner-text-div {
        padding-top: 5% !important;
    }
}