@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@font-face {
    font-family: Maxim-Klavika-MediumCondensed;
    src: url('../fonts/Klavika-MediumCondensed.ttf');
}

@font-face {
    font-family: Maxim-Klavika-LightCondensed;
    src: url('../fonts/Klavika-LightCondensed.ttf');
}

@font-face {
    font-family: Maxim-HelveticaNowDisplay;
    src: url('../fonts/HelveticaNowDisplayXBlk.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----------------navbar----------------- */

html {
    font-size: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: rgb(0, 0, 0) !important;
    max-width: 1680px;
    width: 100%;
    margin: 0 auto !important;
}

@-webkit-keyframes slideLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes slideRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
}

.header-item-left img {
    display: block;
    width: 4.5rem;
    padding: 7px 0;
}

.header-item-left h1 {
    font-size: 15px;
    color: white;
    font-family: Maxim-HelveticaNowDisplay;
    margin-left: 10px;
    margin-bottom: 3px;
    padding-bottom: 14px;
    letter-spacing: .5px;
}

.container {
    width: 100%;
    height: auto;
    padding: 0 2rem;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    z-index: 999;
    outline: none;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 5px solid rgb(207, 207, 207);
    animation-delay: 5s;
    transition: all ease .75s;
}

.scroll {
    transition: all ease .75s;
    animation-delay: 5s;
<<<<<<< HEAD
    transform: translateY(-138px);
=======
    transform: translateY(-134px);
>>>>>>> 1f5b1fff1e74b76fb1d939ff561be9449ead8340
}

.header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    height: 87px;
}

.header-item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17%;
    flex: 0 0 17%
}

.header-item-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 62%;
    flex: 0 0 62%
}

.header-item-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 20px;
}

.header-item-right .menu-icon {
    font-size: 1.35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;
    border: none;
    outline: none;
}

.header .menu>ul {
    margin-bottom: 0;
}

.header .menu>ul>li {
    display: inline-block;
    line-height: 4rem;
    margin-left: 1rem;
    font-size: 18px;
}

.header .menu>ul>li>a {
    position: relative;
    font-size: .9em;
    line-height: 1.25;
    border: none;
    outline: none;
    color: #dfdfdf;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}

.header .menu>ul>li .menu-subs {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 1.75rem;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    border-radius: 0.25rem;
    border-top: 3px solid #00adef;
    background: rgb(0, 0, 0);
}

.header .menu>ul>li .menu-subs>ul>li {
    line-height: 1;
}

.header .menu>ul>li .menu-subs>ul>li>a {
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    padding: 0.75rem 0;
    border: none;
    outline: none;
    color: #121212;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header .menu>ul>li .menu-column-1 {
    min-width: 16rem;
    max-width: 20rem;
}

.header .menu>ul>li .menu-subs.menu-mega {
    left: 50%;
    top: 98%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.header .menu>ul>li .menu-subs.menu-mega>.list-item>ul>li {
    display: block;
    line-height: 1;
}

.header .menu>ul>li .menu-subs.menu-mega>.list-item>ul>li>a {
    display: inline-block;
    font-family: "Noto Sans", sans-serif;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.25;
    padding: 0.2rem 0;
    border: none;
    outline: none;
    color: #7a7a7a;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.header .menu>ul>li .menu-subs.menu-column-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding: 1.25rem 1rem;
}

.header .menu>ul>li .menu-subs.menu-column-4>.list-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    padding: 1.2rem 0;
}

.header .menu>ul>li .menu-subs.menu-column-4>.list-item .title {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    padding: 0.75rem 0;
    border: none;
    outline: none;
    color: #252424;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header .menu>ul>li .menu-subs.menu-column-4>.list-item.text-center .title {
    text-align: center;
}

.header .menu>ul>li .menu-subs.menu-mega>.list-item>ul>li>a:hover,
.header .menu>ul>li .menu-subs>ul>li>a:hover {
    color: #fdfdfd;
}

.header-item-right a:hover,
.header .menu>ul>li:hover>a {
    color: #00adef;
}

.menu-mobile-header,
.menu-mobile-trigger {
    display: none;
}

.main {
    display: block;
    width: 100%;
    min-height: 100vh;
}

.thin-bar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid rgb(77, 77, 77);
    height: 40px;
}

header .thin-bar,
header .container {
    max-width: 1680px;
    margin: 0 auto;
}

.thin-bar div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thin-bar div i {
    color: white;
    padding: 2px 10px;
    display: flex;
    align-items: center;
}

.thin-bar h4 {
    color: white;
    margin-right: 2rem;
    margin-bottom: 0;
    font-size: 13px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
}

.thin-bar h3 {
    color: white;
    margin-right: 10px;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    margin-bottom: 0;
}

.menu-icon i {
    color: white;
    font-size: 22px;
    position: relative;
}

.menu-icon img {
    color: white;
    width: 25px;
    position: relative;
    margin-bottom: 3px;
}

.add-num {
    position: absolute;
    margin-left: 17px;
    margin-bottom: 15px;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 12px;
    background: #00adef;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.list-name {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid rgb(78, 78, 78);
    margin-left: 5%;
}

.list-name .title {
    color: rgb(255, 255, 255);
    margin-right: 10.1%;
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
}

.list-name .title:hover {
    color: #00adef;
}

.list-name .list-anchor-tags a {
    color: #7a7a7a;
    font-family: 'Noto Sans', sans-serif;
    margin: 0px 10px;
    font-size: 1rem;
    padding: 10px 0;
}

.list-name .list-anchor-tags a:hover {
    color: #ffffff;
    border-bottom: 1px solid #00adef;
}

.item a {
    color: #7a7a7a;
}

.item a:hover {
    color: #ffffff;
}

.list-item>ul>li {
    line-height: 1.6rem;
}

.list-item>ul>li>a {
    font-family: 'Noto Sans', sans-serif;
    font-size: .8rem;
}

.owl-box {
    display: flex;
    justify-content: center !important;
    padding: 15px 0;
    width: 90% !important;
}

.menu-mobile-arrow i,
.menu-mobile-close i {
    color: white;
}

nav .owl-theme .owl-dots .owl-dot span {
    width: 60px;
    height: 3px;
}

.ion-ios-arrow-down:before {
    position: relative;
    left: 5px;
    top: 1px;
}


/* --------------------image slider------------------------- */

.sr-only {
    position: absolute;
    left: -9999999px;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    width: 100%;
    background-size: contain;
}


/* //carousel start */

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    line-height: 1;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        -o-transition: -o-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
    .carousel-inner>.item.next,
    .carousel-inner>.item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner>.item.prev,
    .carousel-inner>.item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner>.item.next.left,
    .carousel-inner>.item.prev.right,
    .carousel-inner>.item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
    display: block;
}

.carousel-inner>.active {
    left: 0;
}

.carousel-inner>.next,
.carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner>.next {
    left: 100%;
}

.carousel-inner>.prev {
    left: -100%;
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
    left: 0;
}

.carousel-inner>.active.left {
    left: -100%;
}

.carousel-inner>.active.right {
    left: 100%;
}

.carousel-control {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    width: 10%;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.carousel-control.right {
    right: 0;
    left: auto;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    font-size: 30px;
}

.carousel-control .glyphicon-chevron-left:hover,
.carousel-control .glyphicon-chevron-right:hover {
    color: #c5c5c5;
    transition: .3s;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 20px;
    height: 20px;
    font-family: serif;
    line-height: 1;
}

.carousel-control .icon-prev:before {
    content: "\2039";
}

.carousel-control .icon-next:before {
    content: "\203a";
}

.carousel-caption {
    position: absolute;
    top: 73px;
    left: 200px;
    z-index: 10;
    color: #fff;
    text-align: left;
}

.carousel-inner .carousel-caption h1 {
    font-family: Maxim-Klavika-MediumCondensed;
    font-weight: 500;
    font-size: 2.9rem;
    opacity: 0;
    -webkit-transition: transform .5s ease-out, opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
    transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
    transition: transform .5s ease-out, opacity .5s ease-out;
    transition: transform .5s ease-out, opacity .5s ease-out, -webkit-transform .5s ease-out;
    -khtml-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

.carousel-inner .carousel-caption p {
    font-family: Maxim-Klavika-LightCondensed;
    font-weight: 500;
    font-size: 2rem;
    opacity: 0;
    -webkit-transition: transform .5s ease-out, opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
    transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
    transition: transform .5s ease-out, opacity .5s ease-out;
    transition: transform .5s ease-out, opacity .5s ease-out, -webkit-transform .5s ease-out;
    -khtml-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

.carousel-inner .carousel-caption a {
    position: absolute;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: rgb(0, 0, 0, 0.4);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: white;
    margin-top: 38px;
    padding: 12px 20px;
    opacity: 0;
    -webkit-transition: transform .5s ease-out, opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
    transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
    transition: transform .5s ease-out, opacity .5s ease-out;
    transition: transform .5s ease-out, opacity .5s ease-out, -webkit-transform .5s ease-out;
    -khtml-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

.carousel-caption a:hover {
    background-color: rgba(117, 117, 117, 0.);
    border: 2px solid rgb(0, 0, 0);
}

.carousel-inner .active .carousel-caption h1,
.carousel-inner .active .carousel-caption p,
.carousel-inner .active .carousel-caption a {
    opacity: 1;
    -khtml-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
}


/* ------------------------------footer code-------------------------- */

footer {
    width: 100%;
    background-color: black;
}

.foo-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr {
    background: #1e1e1e;
    width: 100%;
    height: 2px;
    border: 0;
}

.st-info {
    font-size: 2rem;
    color: white;
    margin-top: 40px;
    font-family: Maxim-Klavika-MediumCondensed;
    font-weight: 500;
    text-transform: capitalize;
}

.st-info-wm {
    font-size: 2rem;
    color: white;
    font-family: Maxim-Klavika-MediumCondensed;
    font-weight: 500;
    text-transform: capitalize;
}

.sm-hr {
    background-color: #00adef;
    margin-top: 20px;
    height: 2px;
    width: 120px;
}

.ver-box {
    width: 100%;
    padding: 50px 25px 20px;
    display: flex;
    align-items: flex-start;
}

.email-box,
.social-m-box {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.email-lhs-box,
.email-rhs-box {
    width: 100%;
}

.email-lhs-box p,
.social-m-box p {
    color: #6e6e6e;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    text-align: left;
}

.social-m-box p {
    margin-left: 15px;
}

.email-rhs-box,
.social-m-rhs {
    margin-top: 20px;
    display: flex;
}

.email-rhs-box {
    display: flex;
    flex-direction: row;
}

.email-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.email-rhs-box .email {
    width: 68%;
    height: 32px;
    background-color: #1e1e1e;
    border: 0;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.btn-submit {
    background: linear-gradient(0deg, #141414, #2e2e2e);
    color: white;
    padding: 8px 15px;
    text-align: center;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0 4px 0 0;
    border-radius: 0 4px 4px 0;
}

.btn-submit:hover {
    color: #00adef;
}

.email-input input::placeholder {
    color: white;
    font-style: italic;
    font-size: 15px;
    padding-left: 20px;
    font-family: "Noto Sans", sans-serif;
}

.v-hr {
    height: 70px;
    text-align: center;
}

.social-m-lhs,
.social-m-rhs {
    width: 90%;
}

.social-m-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-m-rhs a {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    color: #6e6e6e;
    text-decoration: none;
    font-size: 14px;
    padding: 0 15px;
}

.border-right {
    border-right: 1px solid gray;
}

.social-m-rhs i {
    color: #6e6e6e;
    font-size: 20px;
    padding-right: 10px;
}

.lng-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 0px 15px;
}

.lng-box div {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lng-box h4,
.lng-box a {
    color: #6e6e6e;
    margin: 5px;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

.lng-box a:hover {
    color: #00adef;
}

.lng-box p {
    color: #6e6e6e;
    margin: 10px;
    font-family: 'Noto Sans', sans-serif;
}

.lng-box a {
    font-size: 13px;
}

.lng-box .web-fun {
    display: flex;
    justify-content: flex-end;
}

.lng-box .web-fun a i {
    margin-left: 5px;
}

.fa-angle-up {
    color: #6e6e6e;
}

.fa-angle-up:hover {
    color: #00adef;
}

.cpy-right {
    color: #6e6e6e;
    padding-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    margin-top: 1px;
    display: flex;
    justify-self: right;
    padding-right: 30px;
}

.copyright-line {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


/* ---------------------header css------------------------- */

@media (max-width: 1366px) {
    .list-name .title {
        margin-right: 8%;
    }
}

@media (max-width: 1199px) {
    .header-item-left {
        flex: 0 0 21%;
    }
    .list-anchor-tags {
        padding: 10px;
    }
    .list-name {
        flex-wrap: wrap;
    }
    .list-name .list-anchor-tags a {
        font-size: 1.1vw;
        padding: 10px;
    }
    .carousel-caption {
        top: 76px;
        left: 11vw;
    }
    .header .menu>ul>li>a {
        font-size: 1.1vw;
    }
    .slide-content span {
        font-size: 3vw;
    }
    .slide-content p {
        font-size: 1.5vw;
    }
    .slide-content button {
        width: 12vw;
        padding: 4px;
        font-size: 1.7vw;
    }
    .lan-lhs-box {
        width: 350px;
    }
}

@media only screen and (min-width: 993px) {
    .header .menu>ul>li.menu-item-has-children:hover .menu-subs {
        margin-top: 1px;
        opacity: 1;
        visibility: visible;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 991px) {
    .header-item-center {
        padding-top: 0;
    }
    .header-item-right {
        padding-top: 0;
    }
    .header-item-center {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .header-item-left,
    .header-item-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .header .menu-mobile-trigger {
        position: relative;
        display: block;
        cursor: pointer;
        width: 1.75rem;
        height: 1rem;
        border: none;
        outline: none;
        margin-left: 1.25rem;
        background: none;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.35s ease-in-out;
        -o-transition: 0.35s ease-in-out;
        transition: 0.35s ease-in-out;
    }
    .header .menu-mobile-trigger span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        border: none;
        outline: none;
        opacity: 1;
        border-radius: 0.25rem;
        background: #ffffff;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }
    .header .menu-mobile-trigger span:nth-child(1) {
        top: 0;
    }
    .header .menu-mobile-trigger span:nth-child(2),
    .header .menu-mobile-trigger span:nth-child(3) {
        top: 0.5rem;
    }
    .header .menu-mobile-trigger span:nth-child(4) {
        top: 1rem;
    }
    .header-item-right {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1099;
        overflow: hidden;
        background: #191919;
        -webkit-transform: translate(-100%);
        -ms-transform: translate(-100%);
        transform: translate(-100%);
    }
    .header .menu.active {
        -webkit-transform: translate(0%);
        -ms-transform: translate(0%);
        transform: translate(0%);
    }
    .header .menu>ul>li {
        display: block;
        line-height: 1;
        margin: 0;
    }
    .header .menu>ul>li>a {
        display: block;
        line-height: 3.125rem;
        height: 3.125rem;
        padding: 0 3.125rem 0 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .header .menu>ul>li>a i.ion {
        position: absolute;
        font-size: 1.25rem;
        line-height: 3.125rem;
        top: 0;
        right: 0;
        width: 3.125rem;
        height: 3.125rem;
        text-align: center;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .header .menu .menu-mobile-header {
        position: relative;
        position: -webkit-sticky;
        position: sticky;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        top: 0;
        height: 3.125rem;
        z-index: 501;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background: rgb(43, 43, 43);
    }
    .header .menu .menu-mobile-header .menu-mobile-arrow {
        display: none;
        font-size: 1.25rem;
        line-height: 3.125rem;
        width: 3.125rem;
        height: 3.125rem;
        cursor: pointer;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        color: #121212;
        text-align: center;
    }
    .header .menu .menu-mobile-header.active .menu-mobile-arrow {
        display: block;
        background-color: #3c3c3c;
    }
    .header .menu .menu-mobile-header .menu-mobile-title {
        font-family: Maxim-Klavika-LightCondensed;
        font-size: 1rem;
        font-weight: 500;
        line-height: inherit;
        color: #ffffff;
        text-transform: capitalize;
        text-rendering: optimizeLegibility;
    }
    .header .menu .menu-mobile-header .menu-mobile-close {
        font-size: 2.25rem;
        line-height: 3.125rem;
        cursor: pointer;
        width: 3.125rem;
        height: 3.125rem;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #3c3c3c;
        text-align: center;
    }
    .header .menu .menu-section {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .header .menu>ul>li .menu-subs {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        max-width: none;
        min-width: auto;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 1rem;
        padding-top: 4rem;
        opacity: 1;
        overflow-y: auto;
        visibility: visible;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .header .menu>ul>li .menu-subs.menu-mega {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        max-width: none;
        min-width: auto;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 1rem;
        padding-top: 4rem;
        opacity: 1;
        overflow-y: auto;
        visibility: visible;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .header .menu>ul>li .menu-subs.active {
        display: block;
    }
    .header .menu>ul>li .menu-subs.menu-column-4>.list-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding: 0rem;
    }
    .header .menu>ul>li .menu-subs.menu-column-4>.list-item img.responsive {
        margin-top: 0;
    }
    .header .menu>ul>li .menu-subs.menu-column-4>.list-item.text-center .title {
        margin-bottom: 1.25rem;
    }
    .header .menu>ul>li .menu-subs.menu-column-4>.list-item.text-center:last-child .title {
        margin-bottom: 0rem;
    }
    .header .menu>ul>li .menu-subs>ul>li>a {
        display: block;
    }
    .header .menu>ul>li .menu-subs.menu-mega>.list-item>ul {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .header .menu>ul>li .menu-subs.menu-mega>.list-item>ul>li>a {
        display: block;
        font-family: "Noto Sans", sans-serif;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        opacity: 0;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.55);
    }
    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
    .container {
        padding: 0 1rem;
        margin: 0 auto;
    }
    .list-name {
        margin-left: 0;
        margin-right: 70px;
        padding: 13px 0px;
    }
    .list-name .list-anchor-tags a {
        padding: 7px 5px;
        font-size: 0.9em;
    }
    .list-name h4 {
        font-size: 1.2rem;
        width: 100%;
    }
    .header .menu>ul>li>a {
        font-size: 1.2rem;
    }
    .header .menu>ul>li>a {
        font-size: 1.2rem;
    }
    .social-m-rhs i {
        font-size: 15px;
    }
    .social-m-rhs a {
        font-size: 13px;
        padding: 0 12px;
    }
    .email-rhs-box {
        text-align: center;
    }
    .email-rhs-box .email {
        width: 91%;
        border-radius: 4px
    }
    .email-input {
        justify-content: center;
    }
    .btn-submit {
        margin-top: 10px;
        border-radius: 4px
    }
    .email-input input::placeholder {
        text-align: center;
        padding-left: 0px;
    }
}

@media(max-width: 767px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 20px;
        height: 25px;
        margin-top: -15px;
        font-size: 20px;
    }
    .carousel-control {
        top: 33%;
        bottom: 67%;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -15px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -15px;
    }
    .carousel-caption {
        position: relative;
        height: 11rem;
        left: 15px;
        top: 15px;
    }
    .carousel-inner .carousel-caption h1 {
        font-size: 2rem;
    }
    .carousel-inner .carousel-caption p {
        font-size: 1.1rem;
    }
    .email-rhs-box {
        text-align: center;
        margin-top: 10px;
    }
    .email-lhs-box p,
    .social-m-box p {
        padding: 0 10px;
        text-align: center;
    }
    .social-m-rhs a {
        text-align: center;
    }
    .lng-box a {
        font-size: .9rem;
    }
    .copyright-line {
        justify-content: center;
        text-align: center;
    }
    .cpy-right {
        padding-right: 0;
    }
    .header-item-left img {
        width: 3.5rem;
        padding: 7px 0;
        margin-top: 10px;
    }
    .header-item-left h1 {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .carousel-control {
        top: 30%;
        bottom: 70%;
    }
    .thin-bar {
        justify-content: center;
    }
    .thin-bar a {
        margin-right: 0;
    }
    .slide-content p {
        font-size: 2.5vw;
    }
    .slide-content button {
        width: 20vw;
        padding: 7px;
        font-size: 2.5vw;
    }
    .st-info {
        font-size: 2.5rem;
    }
    .ver-box {
        display: block;
    }
    .email-box,
    .social-m-box {
        width: 100%;
        border-right: 0;
    }
    .v-hr {
        display: none;
    }
    .email-lhs-box p,
    .social-m-box p {
        text-align: center;
    }
    .social-m-box p {
        margin-top: 10px;
    }
    .social-m-rhs {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .email-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .email-rhs-box .email {
        width: 80vw;
    }
    .lng-box {
        display: block;
    }
    .lng-box div {
        margin-top: 0;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .social-m-rhs i {
        font-size: 20px;
    }
    .social-m-rhs a {
        font-size: 15px;
        padding: 0 15px;
    }
    .lg-hr-three {
        margin-top: 55px;
    }
}

@media(max-width: 425px) {
    .carousel-control {
        top: 25%;
        bottom: 75%;
    }
    .arrow {
        top: 21%;
    }
    .slide-content span {
        font-size: 30px;
    }
    .slide-content p {
        font-size: 14px;
        padding: 13px 0px;
    }
    .slide-content button {
        width: 110px;
        font-size: 15px;
    }
    .st-info {
        font-size: 25px;
    }
    .v-hr {
        display: none;
    }
    .ver-box {
        flex-direction: column;
        align-items: center;
    }
    .social-m-rhs i {
        padding-right: 5px;
    }
    .social-m-rhs a {
        padding: 0 8px;
    }
    .lng-box {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .lng-box div {
        margin-top: 0;
        display: flex;
        justify-content: center;
    }
    .lg-hr-three {
        margin-top: 0;
    }
}

@media(max-width: 375px) {
    .slide-content span {
        font-size: 25px;
    }
    .slide-content p {
        font-size: 11px;
    }
    .social-m-rhs i {
        font-size: 15px;
        padding-right: 7px;
    }
    .social-m-rhs a {
        font-size: 12px;
        padding: 0 10px;
    }
    .header-item-left h1 {
        font-size: 12px;
    }
}

@media(max-width: 344px) {
    .header-item-right {
        position: absolute;
        right: 10px;
    }
}

@media(max-width: 320px) {
    .slide-content {
        left: 20px;
    }
    .header-item-left h1 {
        font-size: 13px;
    }
    .social-m-rhs a {
        margin-right: 5px;
        font-size: 12px;
    }
    .sm-v-hr {
        margin-right: 3px;
    }
    .header-item-left h1 {
        font-size: 10px;
    }
}