*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}
header{
    position: absolute;
    width: 100%;
    z-index: 2;
}
section{
    background-color: #f2f2f2;
    overflow: hidden;
}
 /* --------------------------Overview & brands box----------------------------  */
.overview-brand-box{
    width: 100%;
    height: 60px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.overview-brand-box div{
    margin-left: 3%;
}
.overview-brand-box a{
    margin: 10px;
    padding: 13px 5px;
    font-size:1.3rem ;
    font-family: "Noto Sans", sans-serif;
    color: white;
}
.overview-brand-box a:hover{
    border-bottom: 3px solid #00adef;
}
/* --------------------------feild content box----------------------------*/

.feilds-cont{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feilds-cont div{
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.feilds-cont h1{ 
    margin-top: 50px;
    font-weight: 500;
    font-size: 30px;
    font-family: Klavika-MediumCondensed;
}
.u-line{
    margin-top: 15px;
    width: 120px;
    height: 2px;
    background-color: #00adef;
    display: flex;
    align-self: center;
}
.feilds-cont p{
    margin-top: 15px;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
}

/* --------------------------electronic-devices box---------------------------- */



.feilds-cont-box{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.electronic-devices-box{
    width: 92%;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.lhs{
    width: 40%;
}
.lhs div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 85%;
    height: 100%;
}
.rhs{
    width: 60%;
}
.lhs h1{
    margin-top: 20px;
    font-weight: 600;
    font-size:30px;
    text-align: left;
    font-family: Klavika-LightCondensed;
}
.lhs p{
    margin-top: 15px;
    font-size: 16px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
}
 .rhs img{
    width: 100%;
    border-radius: 4px;
}
/* ---------------------------heaalthcare box------------------------------ */

.healthcare-box{
    width: 92%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
.healthcare-box .lhs{
    display: flex;
    justify-content:flex-end;
}

/* ---------------------------Autonomous Driving Technology box------------------------------ */
.autonomous-driving-box{
    width: 92%;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}

/* ---------------------------power-management box------------------------------ */
.power-management-box{
    width: 92%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    padding-bottom: 50px;
}
.power-management-box .lhs{
    display: flex;
    justify-content:flex-end;
}
/* ---------------------------footer box------------------------------ */

@media(max-width:1199px){
    .lhs p {
        font-size: 1.5vw;
    }
}
@media(max-width:767px){
    .carousel-caption h1{
        color: #2e2e2e ;
    }
    .carousel-caption p{
        color: #2e2e2e ;
    }
    .carousel-caption a{
        background-color:#000000 !important;
    }
    .carousel-caption a:hover{
        background-color:#ffffff !important;
        border:2px solid black;
        color: black;
    }
    .lhs h1 {
        font-size: 1.5rem;
        margin-top: 0;
    }
}
@media(max-width:575px){
    .electronic-devices-box {
        flex-direction: column-reverse;
    }
    .rhs, .lhs {
        width: 100%;
    }
    .lhs div 
    {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .lhs p {
        font-size: 1rem;
        text-align: center;
    }
    .lhs h1 {
        margin-top: 15px;
    }
    .healthcare-box {
        flex-direction: column-reverse;
    }
    .autonomous-driving-box {
        flex-direction: column-reverse;
    }
    .power-management-box {
        flex-direction: column-reverse;
    }
    .ver-box {
        display: block;
    }
    .lg-hr-three{
        margin-top: 35px;
    }
}
@media(max-width:425px){
    .feilds-cont p {
        font-size: 1rem;
    } 
    .overview-brand-box div {
        margin-left: 0px;
    }
    .overview-brand-box {
        justify-content: center;
    }
    .lhs p {
        text-align: center;
    }
    .lg-hr-three{
        margin-top: 55px;
    }
}
@media (max-width:375px){
    .lhs p {
        font-size: 4vw;
    }
}
