*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------navbar----------------- */

body{
    background-color: #000000;
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}
 /* --------------------------Overview & brands box----------------------------  */
 section{
     margin-bottom: 50px;
 }

.overview-brand-box{
    width: 100%;
    height: 80px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inneroverview{
    width: 83%;
}
.overview-brand-box a{
    margin-right: 20px;
    padding: 24px 2px;
    font-size:1.3rem ;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    
}
.overview-brand-box .industries,
.overview-brand-box .brands,
.overview-brand-box .categories,
.overview-brand-box .standards,
.overview-brand-box .applications{
    border-bottom: 3px solid #00adef;
}

/* -----------------------------Brands----------------------------- */

.heading-container{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.brand-title{
    width: 83%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}
.brand-title h1{
    font-size: 2.5rem;
    font-family:  Maxim-Klavika-MediumCondensed;
    font-weight: 500;
    color: white;
}
.brand-title p{
    margin-top: 10px;
    font-size: 1.9rem;
    font-family:  Maxim-Klavika-LightCondensed;
    color: white;
    font-weight: normal;
}
.heading-container h3{
    color: #6e6e6e;
    font-size: 14px;
    margin-top: 5px;
}

/* -----------------------------Brands search box------------------------------ */

.search-brand{
    margin-top:40px;
    width: 74%;
    height: 35px;
    outline: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.search-brand i{
    color: rgb(0, 0, 0);
}
.search-brand input{
    width: 97%;
    height: 28px;
    outline: none;
    border: 0;
}
::placeholder{
    color: gray;
    font-style: normal;
}

/* ----------------------------- company brands----------------------------- */

.company-brands{
    width: 92%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}
.company-brands div{
    background-color: #1e1e1e;
    height: 315px;
    border-radius: 4px;
}
.company-brands div:hover{
    border-bottom: 2px solid #00adef;
}
.company-brands img{
    width: 120px;
    margin: 20px;
}
.company-brands h2{
    margin: 20px;
    color: #00adef;
    font-family: Maxim-Klavika-LightCondensed;
    font-size: 1.7rem;
}
.company-brands p{
    margin: 5px 20px;
    color: #ffffff;
    font-family:'Noto Sans', sans-serif;
    font-size: 1.1rem;
}
/*This css is categories-brand page*/
.categories-brand div:nth-child(n+6){
    background-color: white;
}
.categories-brand div:nth-child(n+6) p{
    color: rgb(0, 0, 0);
}

/*  ---------------------------------featured Application categories-------------------------- */

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.title-container h4{
    margin-top:10px;
    color: #ffffff;
    padding: 0 40px;
    font-size: 30px;
    font-family:  Maxim-Klavika-MediumCondensed;
    font-weight: 500;
    text-transform:capitalize;
}
.title-container p{
    color: #ffffff;
    font-size: 1rem; 
    margin-top: 25px;
    padding: 0 20px;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;

}
.title-container h5{
    color: #6e6e6e;
    font-size: 1rem;
    margin-top: 5px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

/* -------------------app carosel-------------------- */
.gray-box{
    width: 100%;
    height: auto;
    padding: 11px 0;
    margin-top: 120px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.carousel-app{
    width: 92%;
    margin-top: -86px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}
.carousel-app .item{
    position: relative;
    height: 440px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
}
.carousel-app h5{
    color: rgb(32, 32, 32);
    margin-top: 20px;
    font-family:  Maxim-Klavika-MediumCondensed;
    font-weight: 500;
    font-size:1.5rem;
    text-align: center;
    padding: 10px;
}
.carousel-app p{
    color: rgb(83, 83, 83);
    font-size: 18px;
    margin: 10px;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    padding: 0 10px;
}

.carousel-app a{
    padding: 10px 15px;
    margin-top: 50px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}
.carousel-app a:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}
.owl-theme .owl-dots .owl-dot span {
    margin: 12px 7px;
}

/*  ---------------------------------need assistance-------------------------- */
.assistance{
    width: 92%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.assistance a {
    color: white;
    font-size: 30px;
    font-family:  Maxim-Klavika-MediumCondensed;
}
.enquiry{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;

}
.enquiry p {
    color: white;
    font-size: 1.5rem;
    font-family:  Maxim-Klavika-LightCondensed;
    padding: 3px;
}
.enquiry button {
    border: 0;
    background-color: #1e1e1e;
    font-size: 1rem;
    color: white;
    margin-left: 20px;
    padding: 7px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
}
.u-line{
    width: 120px;
    margin: 30px 0 0 0;
    background-color: #00adef;
    display: flex;
    align-self: center;
}


@media(min-width:1680px){
    .inner-grid{
        grid-gap: 2.8rem;
    }
    
    .parent {
        width: 13vw;
    }
}
@media(max-width:1680px){
    .company-brands div{
        height: 270px;
    }
    .company-brands p {
        font-size: .8rem;
    }
    .company-brands h2{
        font-size: 1.5rem;
    }
}
@media(max-width:1583px){
    .boxes {
        width: 97%;
    }
    .arrow::after {
        right: 31px !important;
    }
}
@media(max-width:1400px){
    .inner-grid{
        grid-template-columns: repeat(2, auto);
        margin-left: 1px;
        grid-gap: 0.8rem !important;
    }
    
    .arrow::after{
        right:-5px !important;
    }
    .boxes {
        width: 90% !important;
    }
}
@media(max-width:1440px){
    .inner-grid {
        margin-left: -22px;
        grid-gap: 0;
    }
    
    .collaps-container {
        width: 350px;
    }
    .arrow::after {
        right: 15px !important;
    }
    .Categories-ul li {
        font-size: 14px;
    }
    .brand-amplifier {
        font-size: 14px;
    }
    .categories-antennas ul li {
        font-size: 14px;
    }
    .app-Emmisions {
        font-size: 14px;
    }
    #Industries ul {
        margin-bottom: 36px;
        font-size: 14px;
    }
    .std-li {
        font-size: 14px;
    }
    .boxes {
        width: 84%;
    }
}
@media(max-width:1199px){
    .lhs p {
        font-size: 1.5vw;
    }
    .brand-title h1 {
        font-size: 2.2rem;
    }
    .brand-title p {
        font-size: 1.15rem;
    }
    
    .Categories-ul {
        font-size: 12px;
    }
    .categories-antennas ul li {
        font-size: 14px;
    }
    .collapse accordion {
        font-size: 16px;
    }
    .brand-amplifier {
        font-size: 14px;
    }
    .app-Emmisions {
        font-size: 14px;
    }
    #Industries ul {
        font-size: 14px;
    }
    .std-li {
        font-size: 14px;
    }
    .collaps-container{
        margin-right: 35px;
    }
    .arrow::after {
        right: -57px !important;
    }
    .header-item-left h1 {
        font-size: 14px;
    }
}

    @media(max-width:1024px){
        .arrow::after {
            right: -71px !important;
        }
    }
    @media(max-width:1024px){
        .boxes {
            width: 93% !important;
        }
        .arrow::after {
            right: -66px !important;
        }
    }
@media(max-width:991px){
    .company-brands{
       grid-template-columns: repeat(3, 1fr);
    }
    .inner-grid{
        grid-template-columns: repeat(2, 1fr);
    
    }
    .collaps-container {
        margin-right: 35px;
        width: 265px;
    }
    .arrow::after {
        right: -29px !important;
    }
}
@media(max-width:768px){
    .search-brand input {
        width: 95%;
    }
    .company-brands{
        grid-template-columns: repeat(2, 1fr);
     }
     .inner-grid{
        grid-template-columns: repeat(1, 1fr);
    
    }
    .collaps-container {
        margin-right: 35px;
        width: 440px;
    }
    .boxes .image-div {
        width: 100%;
    }
    
    .Categories {
        font-size: 14px;
    }
    .Categories-ul li {
        font-size: 14px !important;
    }
    .categories-antennas {
        font-size: 14px;
    }
    .Applications-li {
        font-size: 14px;
    }
    #Industries ul {
        font-size: 12px;
    }
    .standards {
        font-size: 14px;
    }
   
    .header-item-left h1 {
        font-size: 14px;
    }
    .arrow::after {
        right: -110px !important;
    }
    .boxes {
        width: 99% !important;
    }
    
}

@media(max-width:575px){
    .company-brands{
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    .brand-title h1 {
        font-size: 2rem;
        text-align: center;
    }
    .brand-title p {
        font-size: 1rem;
        text-align: center;
    }
    .search-brand input {
        width: 93%;
    }
    .company-brands div {
        width: 300px;
    }
    .assistance a {
        font-size: 25px;
    }
    .mic-logo img {
        width: 40vw;
    }
    .enquiry{
        flex-direction: column;
    }
    .enquiry button{
        margin-left: 0;
        margin-top: 30px;
    }
    .enquiry p {
        font-size: 1.5rem;
    }
    .collaps-container{
        width: 100%;
    }
    .collaps-container ol{
        position: absolute;
        height:auto;
        background-color: rgb(0,0,0);
        width: 100%;
        left:-100%;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
        padding-left: 15px;
    }
    .inner-half{
        display: block;
    }
    label h2 .fas{
        display: block;
        position: absolute;
        top: 5px;
        left: 65px;
        color: #00adef;
    }
    .inner-grid{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
    }
    #click:checked ~ ol{
        left: 0%;
        padding-bottom: 35px;
        border-bottom: 2px solid #00adef;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .boxes .product-img {
        width: 100px;
    }
    .grid-box-container {
        width: 100%;
        margin-left: 0;
    }
    .brand-amplifier{
        font-size:15px;
     }
     .Categories {
         font-size: 17px;
     }
     .Categories-ul{
         font-size: 15px;
     }
     .categories-antennas {
         font-size: 18px;
     }
     .categories-antennas ul li {
        font-size: 15px;
    }
     .Applications-li {
         font-size: 18px;
     }
     .app-Emmisions {
        font-size: 15px;
    }
     #Industries ul {
         font-size: 15px;
     }
     .standards {
         font-size: 18px;
     }
     .std-li {
        font-size: 15px;
    }
     .parent{
        width: 80vw;
        font-size: 24px;
    }
    .filter-title{
        width: 100%;
    }
    .arrow-R-L-bar::after {
        content: '\276F';
        color: rgb(255, 255, 255);
        font-weight: bold;
        color: #00adef;
        margin-left: 7px;
        font-size: 20px;
      }
      .active-R-L-bar::after {
        content: "\276E";
      }
      .boxes {
        width: 100% !important;
        }
        .arrow::after {
            right: -40px !important;
        }
    }
@media(max-width:425px){
    
    .gray-box {
        padding: 20px 50px;
    }
    .search-brand input {
        width: 90%;
    }
    .brand-title p {
        font-size: 1rem;
    }
    .brand-title h1 {
        font-size: 1.5rem;
    }
    .overview-brand-box div {
        margin-left: 0px;
    }
    .overview-brand-box {
        justify-content: center;
    }
    .lg-hr-three{
        margin-top: 55px;
    }
    .enquiry p {
        text-align: center;
    }
    
}

@media (max-width:375px){
    .company-brands div {
        width: auto;
    }
    .gray-box {
        padding: 20px 20px;
    }
    .header-item-right {
       position: absolute;
       right: 10px;
    }
  
    .header-item-left h1 {
        font-size: 12px;
    }
}


