@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------navbar----------------- */
body{
    background-color: rgb(0, 0, 0);
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}
header{
    position: absolute;
    width: 100%;
    z-index: 2;
}
.top-navbar{
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: black;
    opacity: 0.8;
    flex-wrap: wrap;
}
.top-navbar div{
    flex-grow: 1;
}
.mic-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mic-logo img{
    margin-left: 100px;
}
.mic-name{
    margin-left: 3px;
    display: block;
}
.mic-logo h4{
    margin-bottom: -30px;
    color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.mic-name .sm-hr{
    width: 225px;
    height: 1px;
}
.mic-logo h5{
    color: white;
    font-size: 11px;
    margin-top: 4px;
    font-family: 'Source Sans Pro', sans-serif;
}
li,a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.nav-names{
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    position: relative;
    display: inline-block;
    padding: 0px 15px;
}
.nav-links li a{
    transition: all 0.3s ease 0s ;
    font-family: 'Open Sans', sans-serif;
}
.nav-links li a:hover{
    color: #00adef;
}
.nav-links li ul {
    position: absolute;
    top: 25px;
    left: 0px;
    background-color: rgb(0, 0, 0);
    width: 170px;
    padding: 2px;
    transition: 0.5s;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
    visibility: hidden;
    opacity: 0;
}
.nav-links li:hover ul{
    visibility: visible;
    opacity: 1;
}
.nav-links li ul li {
    padding: 7px;
    border-bottom: 1px solid rgb(124, 124, 124);
    width: 100%;
    padding: 10px;
}
.num-box{
    display: flex;
    flex-direction: column;
}
.num-box h4,i{
    color: white;
    padding: 7px;
    font-family: 'Open Sans', sans-serif;
}
.num-box i{
    color: white;
}


/* -----------------------------images slider --------------------- */
section{
    position: relative;
    z-index: 1;
}
#slider, .wrap, .slide-content{
    width: 100%;
    height: 820px;
    overflow: hidden;
}
.wrap{
    position: relative;
}
.slide{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide1{
    background-image: url('../images/image1.jpg');
}
.slide2{
    background-image: url('../images/image2.jpg');
}
.slide3{
    background-image: url('../images/image3.jpg');
}
.slide4{
    background-image: url('../images/image4.jpg');
}
.slide5{
    background-image: url('../images/image5.jpg');
}

.slide-content{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 200px;
    left: 150px;
}
.slide-content span{
    color: white;
    font-size: 37px;
    font-family: 'Nunito Sans', sans-serif;

}
.slide-content p{
    color: white;
    font-size: 20px;
    padding: 15px 0px;
    font-family: 'Open Sans', sans-serif;
}
.slide-content button{
    width: 150px;
    border: 0;
    background-color: #1e1e1e;
    padding: 5px;
    color: white;
    font-size: 23px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
}
#arrow-left{
    border-width: 20px 20px 20px 0px;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}
#arrow-right{
    border-width: 20px 0px 20px 20px;
    border-color: transparent transparent transparent #fff ;
    right: 0;
    margin-right: 30px;
}
/*----------------------------- search box--------------------------- */
.search-box{
    position: relative;
    width: 100%;
    height: 90px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box div{
    width: 80%;
    height: 40px;
    outline: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box i{
    color: rgb(0, 0, 0);
}
.search-box input{
    width: 97%;
    height: 39px;
    outline: none;
    border: 0;
}
/* ----------------------Test and measurement------------------------ */
.black-bg{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
 .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-container h4{
    border: 2px solid #00adef;
    margin-top:35px;
    border-radius: 17px;
    color: #00adef;
    padding: 7px 40px;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
}
.title-container p{
    color: #ffffff;
    font-size: 20px;
    margin-top:17px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.title-container .sm-hr{
    margin-top: 15px;
    width: 150px;
    height: 2px;
}
.title-container h5{
    color: #6e6e6e;
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Nunito Sans', sans-serif;
}
.tech-imgs {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}
.tech-imgs div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px 3px;
    height: 280px;
    width: 480px;
}
.tech-imgs img{
    position: absolute;
    height: 280px;
    width: 480px;
    display: flex;
}
.tech-imgs h3{
    position: relative;
    color: white;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
}
.tech-imgs p{
    position: relative;
    color: white;
    font-size: 16px;
    display: flex;
    top: 60px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding: 0 15px;
}
.btn h5{
    color: #6e6e6e;
    margin-top: 5px;
    font-family: 'Nunito Sans', sans-serif;
}
/* -----------------------slick slider------------------------- */
.bg-gray-box{
    width: 85%;
    height: 340px;
    margin-top: 100px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
}
.carou-cen{
    width: 92%;
    height: 375px;
    margin-top: -75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.carou-cen .item{
    width: 240px;
    height: 390px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.carou-cen .item:hover{
    border-bottom: 4px solid #00adef ;
}
.carou-cen .item img{
    width: 150px;
    height: 120px;
    margin-top: 30px;
}
.carou-cen h5{
    color: rgb(32, 32, 32);
    margin-top: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;

}
.carou-cen p{
    color: rgb(32, 32, 32);
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.carou-cen button{
    padding: 10px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: 0;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}
.carou-cen button:hover{
    text-shadow: 1px 1px 0 #00adef ;
}
.carou-cen .white-bg{
    background-color: white;
    width: 80%;
    height: 302px;
    margin-top: -75px;
}
/* -------------------------------SHAPING THE FUTURE-------------------------------- */
.bg-gray-box-two{
    width: 85%;
    height: 435px;
    margin-top: 100px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
}

.sec-box{
    width: 92%;
    height: 360px;
    display: flex;
    margin-top: -60px;
    flex-direction: column;
    align-items: center;
}
.sec-box .item{
    width: 100%;
    height: 380px;
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
}
.sec-box .item div{
    width: 50%;
}
.item .lhs-box .blue-img{
    height: 380px;
    border: 1px solid white;
    margin-top:0;
}
.rhs-box{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.rhs-box h1{
    font-size: 40px;
    margin-left: 65px;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
}
.rhs-box p{
    font-size: 27px;
    text-align: left;
    margin-left: 65px;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif
}
.rhs-box button{
    width: 140px;
    border: 0;
    background-color: #1e1e1e;
    padding: 7px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 20px 80px;
}
.rhs-box button:hover{
    text-shadow:none ;
 }
.owl-prev span, .owl-next span{
    color: white;
    background-color: #6e6e6e;
    padding: 8px 17px;
    font-size: 25px;
    margin: 0 -4.5px
 }
.owl-prev span:hover, .owl-next span:hover{
    background-color: #00adef;
 }

/* -----------------------------HELPING YOU CONNECT----------------------------- */

.bg-gray-box-three{
    width: 85%;
    height: 500px;
    margin-top: 100px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
}

.third-tech-images{
    width: 92%;
    height: 378px;
    margin-top: -75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.third-tech-images div{
    height: 225px;
    width: 430px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-tech-images img {
    position: absolute;
    margin-top: 0px;
    height: 225px;
    width: 430px;
}
.third-tech-images h1{
    position: relative;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

/* --------------------------BACK TO BASICS------------------------------ */

.sm-bg-gray-box{
    width: 85%;
    height: 300px;
    margin-top: 100px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
}
.carou-th-cen{
    width: 92%;
    height: 290px;
    margin-top: -55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.carou-th-cen .item{
    width: 425px;
    height: 285px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.carou-th-cen h1 {
    color: #00adef;
    margin: 20px 30px;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
}
.carou-th-cen h2 {
    color: #00adef;
    margin: 10px 30px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}
.carou-th-cen p {
    text-align: left;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 30px;
    font-size: 17px;
}

.cont-btn{
    margin-top: 50px;
    width: 120px;
    border: 0;
    background-color: rgb(54, 54, 54);
    padding: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* ------------------------------footer code-------------------------- */
footer{
    width: 100%;
    background-color: black;
}
.foo-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.foo-cont .lg-hr{
    width: 92%;
    margin-top: 20px;
    height: 1px;
}
.st-info{
    font-size: 35px;
    color: white;
    margin-top:20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.sm-hr{
    margin-top: 15px;
    width: 150px;
    height: 2px;
}
.ver-box{
    width: 90%;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}
.email-box,.social-m-box{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.email-lhs-box,.email-rhs-box{
    width: 100%;
}
.email-lhs-box p, .social-m-box p {
    color:#6e6e6e;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    text-align: left;
}
.email-rhs-box,.social-m-rhs{
    margin-top: 20px;
    display: flex;
}
.email-rhs-box{
    display: flex;
    flex-direction: row;
}
.email-input {
    width: 100%;
}
.email-rhs-box #email{
    width: 70%;
    height: 30px;
    background-color: rgb(54, 54, 54) ;
    border: 0;
    outline: none;
}
.email-rhs-box #submit{
    width: 120px;
    padding: 5px 10px;
    background-color: rgb(54, 54, 54) ;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
.email-rhs-box #submit:hover{
    color: #00adef;
}
::placeholder{
    color: white;
    font-style: italic;
    font-size: 15px;
    padding-left: 20px;
}
.v-hr{
    height: 70px;
    text-align: center;
}
.sm-v-hr{
    height: 25px;
    margin-right: 20px;
}
.social-m-lhs, .social-m-rhs{
    width: 90%;
}
.social-m-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-m-rhs a{
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #6e6e6e;
    font-size:15px;
}
.social-m-rhs i{
    color: #6e6e6e;
    font-size:15px;
}

.lng-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 50px;
}
.lng-box div{
    margin-top: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.lng-box h4, .lng-box a{
    color: #6e6e6e;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
}
 .lng-box a:hover {
    color: #00adef;
   
}
.lng-box p{
    color: #6e6e6e ;
    margin: 10px;
    font-family: 'Nunito Sans', sans-serif;
}
.lng-box a{
    font-size: 15px;
}
.lng-box .web-fun{
    display: flex;
    justify-content: flex-end;
}
.fa-angle-up{
    color: #6e6e6e ;
}
.fa-angle-up:hover{
    color: #00adef;
}

.cpy-rite{
    color: #6e6e6e ;
    padding-bottom: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 10px;
    margin-top: 1px;
}


/* ------------------------------Media query--------------------- */
@media screen and (max-width: 1680px){
    
    
    .bg-gray-box-three {
        height: 370px;
    }
    .mic-logo img{
        margin-left: 15px;
    }
    .mic-logo h4 {
        font-size: 11px;
    }
    .mic-name .sm-hr {
        width: 166px;
    }
    .mic-logo h5 {
        font-size: 8px;
    }
    li, a {
        font-size: 12px;
    }
    .search-box{
        height: 80px;
    }
    .search-box div {
        height: 35px;
    }
    .search-box input {
        height: 29px;
    }
    .num-box h4, i {
        padding: 5px;
        font-size: 13px;
    }
    .tech-imgs div{
        height: 200px;
        width: 300px;
    }
    .tech-imgs img{
        height: 200px;
        width: 300px;
    }
    .tech-imgs h3{
        font-size: 22px;
    }
    .tech-imgs p {
        top: 35px;
    }
    .title-container p{
        font-size: 13px;
    }
    .bg-gray-box .white-bg {
        height: 273px;
        width: 780px;
    }
    .sec-box .item div {
        width: 50%;
        height: 330px;
    }
    .white-bg img {
        height: 271px;
        width: 396px;
    }
    .item .lhs-box .blue-img{
        height: 330px;
    }
    .rhs-box h1 {
        font-size: 23px;
    }
    .sec-box{
        width: 92%;
        height: 330px;
    }
    .bg-gray-box .item {
        width: 218px;
        height: 327px;
    }
    .bg-gray-box-two{
        height: 380px;
    }
    .owl-theme .owl-nav {
        margin-top: 27px;
    }
    .carou-th-cen{
        width: 92%;
        height: 290px;
    }
    .carou-th-cen .item{
        width: 337px;
        height: 250px;
    }
    .carou-th-cen h1 {
        font-size: 27px;
    }
    .carou-th-cen h2 {
        font-size: 23px;
    }
    .carou-th-cen p {
        font-size: 15px;
    }
    .bg-gray-box h5{
        font-size: 12px;
    }
    .bg-gray-box button {
        font-size: 15px;
    }
    .sm-bg-gray-box {
        height: 250px;
    }
    
    .third-tech-images{
        height: 308px;
    }
    .third-tech-images img {
        height: 180px;
        width: 290px;
    }
    .third-tech-images div {
        height: 180px;
        width: 290px;
    }
    .third-tech-images h1 {
        font-size: 20px;
    }
    .lng-box a{
        font-size: 12px;
    }


}@media screen and (max-width: 1024px){
    .carou-th-cen .item{
        width: 260px;
        height: 240px;
    }
    .bg-gray-box-three {
        height: 560px;
    }
    .carou-th-cen h1 {
        margin: 15px 30px;
    }
    .carou-th-cen p {
        font-size: 11px;
    }
}
label #btn,label #cancel
{
    color: white;
    font-size: 30px;
    float: right;
    margin-right: 40px;
    line-height: 80px;
    display: none;
    cursor: pointer;
}
#check{
    display: none;
}
@media screen and (max-width: 812px){
    .mic-logo h4 {
        font-size: 10px;
    }
    .mic-name .sm-hr {
        width: 150px;
    }
    .mic-logo h5 {
        font-size: 7.4px;
    }
    .nav-links li {
        padding: 0px 7px;
    }
    li, a {
        font-size: 10.5px;
    }
    .nav-names {
        margin-bottom: 23px;
    }
    .mic-logo img {
        width: 50px;
    }
    .slide-content span {
        font-size: 32px;
    }
    .slide-content p {
        font-size: 16px;
    }
    .slide-content button {
        width: 130px;
        font-size: 19px;
    }
    .title-container p {
        font-size: 11px;
    }
    .title-container h5 {
        font-size: 15px;
    }
    .bg-gray-box .item {
        margin-left: 50px;
    }
    .carou-th-cen .item {
        margin-left: 25px;
    }
    .social-m-rhs a {
        font-size: 13px;
    }
    .email-rhs-box {
        text-align: center;
    }
    .email-rhs-box #submit {
        margin-top: 10px;
    }
    .rhs-box p {
        font-size: 16px;
        margin-left: 50px;
    }
    .rhs-box h1 {
        margin-left: 50px;
    }
    .rhs-box button {
        font-size: 18px;
        margin: 20px 59px;
    }
    .lan-lhs-box{
        width: 34%;
    }

}
@media screen and (max-width: 768px){
    nav ul li{
        display: none;
    }
    label #btn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        left: -100%;
        top: 100px;
        text-align: center;
        transition: all .5s;
    }
    .nav-links li{
        display: block;
        padding: 10px;
    }
    .nav-links li ul {
        display: none;
    }
    .nav-links li:hover ul{
        visibility: visible;
        opacity: 1;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    .nav-names{
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }
    .mic-logo{
        width: 70%;
        height: 80px;
    }
    .mic-logo img {
        height: 50px;
    }
    .top-navbar {
        height: 65px;
    }
    .num-box {
        display: flex;
        flex-direction: row;
        background-color: black;
        margin-top: -50px;
    }
    .num-l-box{
        margin-left: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .num-r-box{
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
        align-items: center;
    }
    .bg-gray-box .item {
        margin-left: 40px;
    }
    .rhs-box p {
        font-size: 15px;
    }
    .item .lhs-box .blue-img {
        height: 250px;
    }
    .sec-box .item div {
        height: 250px;
    }
    .bg-gray-box-two {
        height: 285px;
    }
    .carou-th-cen .item {
        margin-left: 12px;
    }
    .sm-bg-gray-box {
        height: 270px;
    }
    .rhs-box button {
        font-size: 18px;
        margin: 20px 75px;
    }
    .bg-gray-box-three {
        height: 530px;
    }
    
    .email-rhs-box {
        text-align: center;
        margin-top: 10px;
    }
    .email-lhs-box p, .social-m-box p {
        padding: 0 10px;
    }
    .social-m-rhs a {
        margin-right: 10px;
        font-size: 13px;
    }
    .email-rhs-box #submit {
        padding: 5px 10px;
        margin-top: 10px;
    }
    .sm-v-hr {
        height: 20px;
        margin-right: 10px;
    }
    .lan-lhs-box{
        width: 40%;
    }
    
    
    
}
@media screen and (max-width: 650px){
.bg-gray-box-three {
    height: 57rem;
}
}

@media screen and (max-width: 425px){
    .slide-content {
        top: 180px;
        left: 40px;
        width: 365px
    }
    .slide-content span {
        font-size: 30px;
    }
    .slide-content p {
        font-size: 14px;
        padding: 13px 0px;
    }
    .slide-content button {
        width: 100px;
        font-size: 15px;
    }
    .title-container h4 {
        font-size: 11px;
    }
    .title-container p {
        font-size: 11px;
    }
    .tech-imgs p {
        font-size: 12px;
        text-align: center;
    }
    .bg-gray-box .item {
        margin-left: 55px;
    }
    .sec-box .item div{
        width: 99%;
    }
    .bg-gray-box-three {
        height: 68rem;
    }
    .item .rhs-box{
        height: 460px;
    }
    .bg-gray-box-two {
        height: 525px;
    }
    .sec-box .item {
        height: 500px;
    }
    .rhs-box h1 {
        font-size: 21px;
        margin-left: 0px;
    }
    .rhs-box p {
        margin-left: 0;
    }
    .rhs-box button {
        font-size: 17px;
        margin: 20px 10px;
        width: 118px;
    }
    .carou-th-cen .item {
        margin-left: 35px;
    }
    .sm-bg-gray-box {
        height: 245px;
    }
    .title-container p {
        padding: 0px 10px;
    }
    .cont-btn {
        width: 114px;
        font-size: 17px;
    }
    .st-info {
        font-size: 25px;
    }
    
    .v-hr {
        display: none;
    }
    .ver-box{
        flex-direction: column;
        align-items: center;
    }
    .email-box, .social-m-box {
        width: 90%;
        flex-direction: column;
    }
    .email-lhs-box p, .social-m-box p {
        text-align: center;
        margin-top: 10px;
    }
    .email-rhs-box, .social-m-rhs{
        justify-content: center;
    }
    
    ::placeholder{
        padding-left: 0;
        text-align: center;
    }
    .lng-box {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .lng-box div{
        margin-top: 0;
        display: flex;
        justify-content: center;
    }
    .foo-cont .lg-hr-one{
        margin-top: 10px;
    }
    .foo-cont .lg-hr-three{
        margin-top: 0;
    }
    .lng-box a {
        font-size: 11px;
    }

}
@media screen and (max-width: 375px){
    .slide-content span {
        font-size: 25px;
    } 
    .slide-content p {
        font-size: 11px;
    } 
    .bg-gray-box .item {
        margin-left: 37px;
    }
    .title-container .sm-hr {
        width: 110px;
    } 
    .title-container h5 {
        font-size: 13px;
    }
    .carou-th-cen .item {
        margin-left: 15px;
    }
    .foo-cont .lg-hr-three {
        margin-top: 0;
    }
    .lng-box {
        margin-top: 0px;
    }
    .foo-cont .lg-hr-one {
        margin-top: 10px;
    }
    .num-box {
        margin-bottom: 22px;
    }
    .email-rhs-box a {
        margin-left: 10px;
    }
    .sm-hr {
        width: 110px;
    }
    .item .lhs-box .blue-img {
        width: 99.7%;
    }
}

@media screen and (max-width: 320px){
    .slide-content {
        left: 20px;
    }
    .bg-gray-box .item {
        margin-left: 16px;
    }
    .item .lhs-box .blue-img {
        height: 225px;
    }
    .rhs-box {
        margin-top: -50px;
    }
    .sec-box .item div{
        width: 99%;
    }
    .bg-gray-box-two {
        height: 490px;
    }
    .carou-th-cen .item{
        margin-left: 0px;
    }
    .sm-v-hr {
        margin-right: 3px;
    }
    .third-tech-images img {
        height: 175px;
        width: 250px;
    }
    .social-m-rhs a {
        margin-right: 5px;
        font-size: 12px;
    }

}

        
        
        
    








