@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@font-face{
    font-family: KlavikaMedium;
    src: url('../fonts/KlavikaMedium-TF.otf');
}
@font-face{
    font-family: KlavikaLight;
    src: url('../fonts/KlavikaLight-Plain.otf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 
body{
    background-color: rgb(0, 0, 0);
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}

/*----------------------------- search box--------------------------- */
.search-box{
    position: relative;
    width: 100%;
    height: 90px;
    background-color:#141414;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box div{
    width: 78%;
    height: 40px;
    outline: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.search-box i{
    color: rgb(0, 0, 0);
}
.search-box input{
    width: 97%;
    height: 39px;
    outline: none;
    border: 0;
}

/* ----------------------Test and measurement------------------------ */

.black-bg{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
 .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-container h4{
    margin-top:35px;
    border-radius: 17px;
    color: #ffffff;
    padding: 7px 40px;
    font-size: 30px;
    font-family: KlavikaLight;
    font-weight: 500;
}
.title-container p{
    color: #ffffff;
    font-size: 20px;
    margin-top:17px;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;

}
.title-container .sm-hr{
    margin-top: 15px;
    width: 150px;
    height: 2px;
}
.title-container h5{
    color: #6e6e6e;
    font-size: 1rem;
    margin-top: 5px;
    font-family: "Noto Sans", sans-serif;
}
.tech-imgs {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}
.tech-imgs .t-img{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px 8px;
    height: 230px;
    width: 385px;
    border-radius: 8px;
}
.tech-imgs img{
    position: absolute;
    overflow: hidden;
    height: 230px;
    width: 385px;
    border-radius: 8px;
}
.tech-imgs h3{
    position: relative;
    color: white;
    font-size: 30px;
    font-family: KlavikaMedium;
    font-weight: normal;
}
.tech-imgs p{
    position:relative;
    color: white;
    top: 60px;
    font-size: 12px;
    font-family: "Noto Sans", sans-serif;
    text-align: left;
    padding: 0 15px;
    display: none;
}

.tech-imgs .t-img:hover p{
    display: block;
}

.tech-imgs .t-img:hover img{
    transform: scale(1.1) translate3d(0px, -10px, 0px);
    transition: all .2s ease-out;
    cursor: pointer;
    border-radius: 8px;
} 
.btn h5{
    color: #6e6e6e;
    margin-top: 5px;
    font-family: 'Nunito Sans', sans-serif;
}

/* -----------------------slick slider------------------------- */
.first-gray-box{
    width: 85%;
    height: auto;
    padding: 50px 0;
    margin-top: 140px;
    background-color: #141414;
    display: flex;
    justify-content: center;
}
.carousel-one{
    width: 92%;
    margin-top: -110px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}
.carousel-one .item{
    position: relative;
    height: 370px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}
.add-cart{
    position: absolute;
    top:0;
    right: 0;
    height: 0;
    width: 0;
    margin-top:1px;
    margin-right:2px;
    border: 25px solid transparent;
    border-top-color: rgb(37, 37, 37);
    border-right-color: rgb(37, 37, 37);
    display: none;
    border-top-right-radius: 8px;

}
.carousel-one .item:hover .add-cart{
    display: block;
    cursor: pointer;
}
.add-cart:hover{
    border-top-color: rgb(0, 160, 223);
    border-right-color: rgb(0, 160, 223);
}
.add-cart .cart-img{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
}

.carousel-one .item .prod-img{
    margin-top: 25px;
    width: 130px;
}
.prod-img:hover {
    transform: scale(1) translate3d(0px, -10px, 0px);
    transition: all .2s ease-out;
    cursor: pointer;
    border-radius: 8px;
} 
.carousel-one h5{
    color: rgb(32, 32, 32);
    margin-top: 20px;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}
.carousel-one p{
    color: rgb(83, 83, 83);
    font-size: 14px;
    margin: 10px;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
}

.carousel-one a{
    padding: 5px 15px;
    margin-top: 20px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans", sans-serif;
}
.carousel-one a:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}


/* -------------------------------SHAPING THE FUTURE-------------------------------- */
.second-gray-box{
    width: 85%;
    height: auto;
    padding: 30px 0;
    margin-top: 140px;
    background-color:#141414;
    display: flex;
    justify-content: center;
}

.carousel-two{
    width: 92%;
    height: auto;
    display: flex;
    margin-top: -110px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.carousel-two .item{
    width: 100%;
    height: 380px;
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
}
.carousel-two .item div {
    width: 50%;
    height: 380px;
}
.item .lhs-box .blue-img{
    height: 380px;
    width: 100%;
    border: 1px solid white;
    margin-top:0;
    border-radius: 10px 0 0 10px;
}
.rhs-box{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0 10px 10px 0;
}
.rhs-box h1{
    font-size: 40px;
    margin-left: 65px;
    padding: 10px;
    font-family: KlavikaMedium;
}
.rhs-box p{
    font-size: 25px;
    text-align: left;
    margin-left: 65px;
    padding: 10px;
    font-family: KlavikaLight;
}
.rhs-box button{
    width: 140px;
    border: 0;
    background-color: #1e1e1e;
    padding: 7px;
    color: white;
    font-size: 21px;
    cursor: pointer;
    margin: 20px 80px;
    font-family: "Noto Sans", sans-serif;
}

.owl-prev span, .owl-next span{
    color: white;
    background-color: #6e6e6e;
    padding: 0 15px 6px;
    font-size: 40px;
    margin: 0 -5.7px;
    border:1px solid wheat
 }
.owl-prev span:hover, .owl-next span:hover{
    background-color: #00adef;
 }

/* -----------------------------HELPING YOU CONNECT----------------------------- */

.third-gray-box {
    width: 85%;
    height: auto;
    padding: 50px 0;
    margin-top: 140px;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-tech-images{
    width: 92%;
    height: auto;
    display: flex;
    margin-top: -110px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.third-tech-images div{
    position: relative;
    overflow: hidden;
    height: 240px;
    width: 433px;
    margin: 2.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.third-tech-images img {
    position: absolute;
    margin-top: 0px;
    height: 240px;
    width: 430px;
    border-radius: 8px;
}
.third-tech-images div:hover img{
    transform: scale(1.1) translate3d(0px, -10px, 0px);
    transition: all .2s ease-out !important;
    cursor: pointer;
} 
.third-tech-images h1{
    position: relative;
    color: white;
    font-family: KlavikaMedium;
    font-weight: 100;
}

/* --------------------------BACK TO BASICS------------------------------ */

.fourth-gray-box{
    width: 85%;
    height:auto;
    padding: 50px 0;
    margin-top: 140px;
    background-color:#141414;
    display: flex;
    justify-content: center;
}
.carousel-three{
    width: 92%;
    height: auto;
    margin-top: -110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.carousel-three .item{
    height: 285px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
}
.carousel-three h1 {
    color: #00adef;
    margin: 20px 30px;
    font-size: 35px;
    font-family: KlavikaMedium;
}
.carousel-three h2 {
    color: #00adef;
    margin: 10px 30px;
    font-size: 25px;
    font-family: KlavikaLight;
}
.carousel-three p {
    text-align: left;
    color: black;
    font-family: "Noto Sans", sans-serif;
    margin: 10px 30px;
    font-size: 15px;
}

/* ------------------------------Valued Partners-------------------------- */

.fifth-gray-box{
    width: 85%;
    height: auto;
    padding: 50px 0;
    margin: 70px 0;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-four{
    width: 92%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.carousel-four .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------------------------Media query--------------------- */
@media(max-width: 1680px){
    .carousel-two .item div {
        width: 50%;
        height: 330px;
    }
    .search-box{
        height: 80px;
    }
    .search-box div {
        height: 35px;
    }
    .search-box input {
        height: 29px;
    }
    .tech-imgs .t-img {
        height: 230px;
        width: 370px;
    }
    .tech-imgs h3{
        font-size: 22px;
    }
    .tech-imgs p {
        top: 65px;
    }
    .title-container p{
        font-size: 17px;
    }
    .first-gray-box .white-bg {
        height: 273px;
        width: 780px;
    }
    .white-bg img {
        height: 271px;
        width: 396px;
    }
    .item .lhs-box .blue-img{
        height: 330px;
        width: 100%;
    }
    .rhs-box h1{
        font-size: 34px;
    }
    .owl-theme .owl-nav {
        margin-top: 27px;
    }
    .carousel-three h1{
        font-size: 35px;
    }
    .carousel-three h2 {
        font-size: 25px;
    }
    .carousel-one h5{
        font-size: 17px;
        text-align: center;
    }
    .carousel-one button a {
        font-size: 12px;
    }
    .third-tech-images img {
        height: 200px;
        width: 347px;
    }
    .third-tech-images div {
        height: 200px;
        width: 347px;
    }
    .third-tech-images h1 {
        font-size: 20px;
    }
}

@media (max-width: 1199px){
    .third-tech-images {
        height: auto;
    }
    .third-tech-images div {
        height: 190px;
        width: 307px;
    }
    .carousel-three h1 {
        margin: 15px 30px;
    }
}
@media(max-width: 991px){
    .rhs-box p {
        font-size: 16px;
        margin-left: 50px;
    }
    .rhs-box h1 {
        margin-left: 50px;
    }
    .rhs-box button {
        font-size: 18px;
        margin: 20px 59px;
    }
}
@media(max-width: 768px){
    
    .carousel-two .item {
        height: 250px;
    }
    .rhs-box p {
        font-size: 15px;
        margin-left: 20px;
    }
    .item .lhs-box .blue-img {
        height: 250px;
        width: 100%;
    }
    .carousel-two .item div {
        height: 250px;
    }
    .rhs-box h1 {
        margin-left: 20px;
        font-size: 25px;
    }
    .rhs-box button {
        font-size: 18px;
        margin: 20px 32px;
    }
}
@media (max-width: 575px){
    .search-box input {
        width: 94%;
    }
    .carousel-two .item div{
        width: 99%;
    }
    .carousel-two .item {
        height: 500px;
    }
    .rhs-box button {
        margin: 20px 60px;
    }
    .item .lhs-box .blue-img {
        border-radius: 10px 10px 0 0; 
    }
    .rhs-box{
        border-radius: 0 0 10px 10px;
    }
}
@media(max-width: 425px){
    .title-container h4 {
        font-size: 11px;
    }
    .title-container p {
        font-size: 11px;
    }
    .tech-imgs p {
        font-size: 12px;
        text-align: center;
    }
    .first-gray-box{
        padding: 50px 50px;
    }
    .item .rhs-box{
        height: 460px;
    }
    .carousel-two .item {
        height: 500px;
    }
    .rhs-box h1 {
        font-size: 21px;
        margin-left: 0px;
    }
    .rhs-box p {
        margin-left: 0;
    }
    .rhs-box button {
        font-size: 17px;
        margin: 20px 10px;
        width: 118px;
    }
    .title-container p {
        padding: 0px 10px;
    }
}
@media(max-width: 375px){
    .search-box input {
        width: 92%;
    }
    .tech-imgs .t-img {
        width: 90vw;
    }
    .first-gray-box{
        padding: 50px 20px;
    }
    .title-container .sm-hr {
        width: 110px;
    } 
    .title-container h5 {
        font-size: 13px;
    }
}
@media(max-width: 320px){
    .tech-imgs img {
        width: 280px;
        height: 200px;
    }
    .tech-imgs .t-img {
        width: 280px;
        height: 200px;
    }
    .tech-imgs p{
        font-size: 9px;
    }
    .third-tech-images img {
        height: 175px;
        width: 250px;
    }
    
}