
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    background-color: rgb(0, 0, 0);
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}

/*----------------------------- search box--------------------------- */
.search-box{
    position: relative;
    width: 100%;
    height: 90px;
    background-color:#141414;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box div{
    width: 85%;
    height: 40px;
    outline: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.search-box i{
    color: rgb(0, 0, 0);
}
.search-box input{
    width: 97%;
    height: 39px;
    outline: none;
    border: 0;
}

/* ----------------------Test and measurement------------------------ */

.black-bg{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
 .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-container h4{
    margin-top:35px;
    border-radius: 17px;
    color: #ffffff;
    padding: 0 40px;
    font-size: 2rem;
    font-family: Klavika-MediumCondensed;
    font-weight: 500;
    text-transform:capitalize;
}
.title-container p{
    color: #ffffff;
    font-size: 23px;
    margin-top:17px;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;

}
.title-container .sm-hr,.foo-cont .sm-hr{
    margin-top: 15px;
    width: 150px;
    height: 2px;
    background-color: #00adef;
}
.title-container h5{
    color: #6e6e6e;
    font-size: 1rem;
    margin-top: 5px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}
.tech-imgs {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 40px;

}
.tech-imgs .t-img{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:8px 8px;
    height: 300px;
    width: 500px;
    border-radius: 8px;
}
.tech-imgs img{
    position: absolute;
    overflow: hidden;
    height: 300px;
    width: 500px;
    border-radius: 8px;
}
.tech-imgs h3{
    position: relative;
    color: white;
    font-size: 30px;
    font-family: Klavika-MediumCondensed;
    font-weight: 500;
}
.tech-imgs p{
    position:relative;
    color: white;
    top: 60px;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    text-align: left;
    padding: 0 15px;
    display: none;
}
.tech-imgs .t-img:hover p{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}
.tech-imgs .t-img:hover img{
    transform: scale(1.1) translate3d(0px, -10px, 0px);
    transition: all .2s ease-out;
    cursor: pointer;
    border-radius: 8px;
} 
.btn h5{
    color: #6e6e6e;
    margin-top: 5px;
    font-family: 'Nunito Sans', sans-serif;
}

/* -----------------------slick slider------------------------- */
.first-gray-box{
    width: 100%;
    height: auto;
    padding: 16px 0;
    margin-top: 110px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.carousel-one{
    width: 92%;
    margin-top: -80px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}
.carousel-one .item{
    position: relative;
    height: 410px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}
.add-cart{
    position: absolute;
    top:0;
    right: 0;
    height: 0;
    width: 0;
    margin-top:1px;
    margin-right:2px;
    border: 25px solid transparent;
    border-top-color: rgb(37, 37, 37);
    border-right-color: rgb(37, 37, 37);
    display: none;
    border-top-right-radius: 8px;

}
.carousel-one .item:hover .add-cart{
    display: block;
    cursor: pointer;
}
.add-cart:hover{
    border-top-color: rgb(0, 160, 223);
    border-right-color: rgb(0, 160, 223);
}
.add-cart .cart-img{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
}

.carousel-one .item .prod-img{
    margin-top: 25px;
    width: 130px;
}
.prod-img:hover {
    transform: scale(1) translate3d(0px, -10px, 0px);
    transition: all .2s ease-out;
    cursor: pointer;
    border-radius: 8px;
} 
.carousel-one h5{
    color: rgb(32, 32, 32);
    margin-top: 20px;
    font-family: Klavika-MediumCondensed;
    font-weight: 500;
    font-size:1.5rem;
    text-align: center;
    padding: 10px;
}
.carousel-one p{
    color: rgb(83, 83, 83);
    font-size: 18px;
    margin: 10px;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    padding: 0 10px;
}

.carousel-one a{
    padding: 7px 15px;
    margin-top: 20px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}
.carousel-one a:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}
.owl-theme .owl-dots .owl-dot span {
    margin: 12px 7px;
}

/* -------------------------------SHAPING THE FUTURE-------------------------------- */
.second-gray-box{
    width: 100%;
    height: auto;
    padding: 18px 0;
    margin-top: 110px;
    background-color:#1e1e1e;
    display: flex;
    justify-content: center;
}

.carousel-two{
    width: 92%;
    height: auto;
    display: flex;
    margin-top: -80px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.carousel-two .owl-prev img,
.carousel-two .owl-next img {
        width: 42px;
        background: white;
        padding: 12px;
        margin: -4.5px;
}
.carousel-two .owl-prev img:hover,
.carousel-two .owl-next img:hover {
        background: #00adef;
}

.carousel-two .item{
    width: 100%;
    height: auto;
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
}
.carousel-two .item div {
    width: 50%;
    height: 450px;
}
.item>.lhs-box>.blue-img{
    height: 450px;
    width: 100%;
    border: 1px solid white;
    margin-top:0;
    border-radius: 10px 0 0 10px;
}
.rhs-box{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0 10px 10px 0;
}
.rhs-box h1{
    font-size: 3.2rem;
    margin-left: 65px;
    margin:30px 0 0 30px;
    font-family: Klavika-MediumCondensed;
    font-weight: 500;
}
.rhs-box p{
    font-size: 2.2rem;
    text-align: left;
    margin:15px 0 0 30px;
    font-family: Klavika-LightCondensed;
}
.rhs-box a{
    padding:7px 15px;
    margin: 20px 30px;
    text-decoration: none;
    border: 2px solid black;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}
.rhs-box a:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}
.owl-prev span, .owl-next span{
    color: white;
    background-color: #6e6e6e;
    padding: 0 15px 6px;
    font-size: 40px;
    margin: 0 -5.7px;
    border:1px solid wheat
 }
.owl-prev span:hover, .owl-next span:hover{
    background-color: #00adef;
 }

/* -----------------------------HELPING YOU CONNECT----------------------------- */

.third-gray-box {
    width: 100%;
    height: auto;
    padding: 65px 0;
    margin-top: 125px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-tech-images{
    width: 92%;
    height: auto;
    display: flex;
    margin-top: -135px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.third-tech-images div{
    position: relative;
    overflow: hidden;
    height: 275px;
    width: 499px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.third-tech-images img {
    position: absolute;
    margin-top: 0px;
    height: 275px;
    width: 510px;
    border-radius: 8px;
}
.third-tech-images div:hover img{
    transform: scale(1.1) translate3d(0px, -10px, 0px);
    transition: all .2s ease-out !important;
    cursor: pointer;
} 
.third-tech-images h1{
    position: relative;
    color: white;
    font-family: Klavika-MediumCondensed;
    font-weight: 500;
}

/* --------------------------BACK TO BASICS------------------------------ */

.fourth-gray-box{
    width: 100%;
    height:auto;
    padding: 16px 0;
    margin-top: 110px;
    background-color:#1e1e1e;
    display: flex;
    justify-content: center;
}
.carousel-three{
    width: 92%;
    height: auto;
    margin-top: -80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.carousel-three .item{
    height: 340px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
}
.carousel-three h1 {
    color: #00adef;
    margin: 30px 0 10px 30px;
    font-size: 3rem;
    font-family: Klavika-MediumCondensed;
    font-weight: 500;
}
.carousel-three h2 {
    color: #00adef;
    margin: 10px 30px;
    font-size: 2rem;
    font-family: Klavika-LightCondensed;
}
.carousel-three p {
    text-align: left;
    color: black;
    font-family: "Noto Sans", sans-serif;
    margin: 10px 30px;
    font-size: 1.5rem;
}

/* ------------------------------Valued Partners-------------------------- */

.fifth-gray-box {
    width: 100%;
    height: auto;
    padding: 15px 0;
    margin: 45px 0;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-four{
    width: 92%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.carousel-four .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel-four img{
    width: 173px;
    height: 90px;
    border-radius: 8px;
    padding: 0;
    box-shadow: 4px 6px 3px #001;
}

/* ------------------------------Media query--------------------- */
@media(max-width: 1680px){
    .carousel-one h5{
        font-size: 18px;
        text-align: center;
        padding: 10px
    }
    .carousel-one a {
        font-size: 16px;
    }
    .carousel-one p {
    font-size: 15px;
    }
    .carousel-one button a {
        font-size: 12px;
    }
    .carousel-two .item div {
        width: 50%;
        height: 370px;
    }
    .carousel-three h1{
        font-size: 35px;
    }
    .carousel-three h2 {
        font-size: 2rem;
    }
    .carousel-three p {
        font-size: 1.1rem;
    }
    .carousel-three .item {
        height: 280px;
    }
    .item .lhs-box .blue-img{
        height: 370px;
        width: 100%;
    }
    .rhs-box h1{
        font-size: 2.4rem;
    }
    .rhs-box p {
        font-size: 1.7rem;
    }
    .search-box{
        height: 80px;
    }
    .search-box div {
        height: 35px;
    }
    .search-box input {
        height: 29px;
    }
    .tech-imgs .t-img {
        height: 227px;
        width: 402px;
    }
    .tech-imgs img {
        height: 232px;
        width: 402px;
    }
    .tech-imgs h3{
        font-size: 1.7rem;
        position: absolute;
        font-size: 20px;
        background: rgba(0,0,0, 0.7);
        padding: 10px 20px;
        top: 10px;
        left: 10px;
        border-radius: 7px;
    }
    .tech-imgs p {
        top: 65px;
        font-size: .8rem;
    }
    .first-gray-box {
        padding: 15px 0;
    }
    .title-container p{
        font-size: 19px;
    }
    .owl-theme .owl-dots .owl-dot span {
        margin: 5px 7px;
    }
    .third-gray-box {
        padding: 55px 0;
    }
    .third-tech-images img {
        height: 230px;
        width: 397px;
    }
    .third-tech-images div {
        height: 230px;
        width: 397px;
    }
    .third-tech-images h1 {
        position: absolute;
        font-size: 20px;
        background: rgba(0,0,0, 0.7);
        padding: 10px 20px;
        top: 10px;
        left: 10px;
        border-radius: 7px;
    }
    .fourth-gray-box {
        padding: 15px 0
    }
}
@media (max-width: 1199px){
    .third-tech-images {
        height: auto;
    }
    .third-tech-images div {
        height: 190px;
        width: 307px;
    }
    .carousel-three h1 {
        margin: 15px 30px;
    }
}
@media(max-width: 991px){
    .item .lhs-box .blue-img{
        height: 300px;
    }
    .carousel-two .item div {
        height: 300px;
    } 
    .rhs-box p {
        font-size: 16px;
        margin-left: 50px;
    }
    .rhs-box h1 {
        margin-left: 50px;
    }
    .rhs-box a {
        margin: 20px 50px
    }
}
@media(max-width: 768px){
    .search-box div{
        width: 92%;
    }
    .search-box input {
        width: 90%;
    }
    .carousel-two .item {
        height: 250px;
    }
    .rhs-box p {
        font-size: 15px;
        margin-left: 20px;
    }
    .rhs-box a {
        margin: 20px 20px;
    }
    .item .lhs-box .blue-img {
        height: 250px;
        width: 100%;
    }
    .carousel-two .item div {
        height: 250px;
    }
    
    .rhs-box h1 {
        margin-left: 20px;
        font-size: 25px;
    }
}
@media (max-width: 575px){
    .search-box input {
        width: 94%;
    }
    .carousel-two .item div{
        width: 99%;
    }
    .carousel-two .item {
        height: 500px;
    }
    
    .item .lhs-box .blue-img {
        border-radius: 10px 10px 0 0; 
    }
    .rhs-box{
        border-radius: 0 0 10px 10px;
    }
}
@media(max-width: 425px){
    .tech-imgs .t-img {
        height: 215px;
        width: 91vw;
    }
    .tech-imgs img {
        height: 215px;
        width: 91vw;
    }
    .third-tech-images div {
        height: 185px;
        width: 375px;
    }
    .third-tech-images img {
        height: 190px;
        width: 375px;
    }
    .title-container h4 {
        font-size: 22px;
    }
    .title-container p {
        font-size: 13px;
    }
    .tech-imgs p {
        font-size: 12px;
        text-align: center;
    }
    .first-gray-box{
        padding: 50px 50px;
    }
    .item .rhs-box{
        height: 460px;
    }
    .carousel-two .item {
        height: 500px;
    }
    .rhs-box h1 {
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    .rhs-box p {
        margin-left: 1rem;
        font-size: 20px;
    }
    .rhs-box a {
        margin: 20px 15px
    }
    .title-container p {
        padding: 0px 10px;
    }
}
@media(max-width: 375px){
    .search-box input {
        width: 92%;
    }
    .tech-imgs .t-img {
        width: 90vw;
        height: 180px;
    }
    .tech-imgs p {
        top: 45px;
    }
    .first-gray-box{
        padding: 50px 20px;
    }
    .title-container .sm-hr {
        width: 110px;
    } 
    .title-container h5 {
        font-size: 13px;
    }
}
@media(max-width: 320px){
    .header-item-left h1 {
        font-size: .8rem;
    }
    .tech-imgs img {
        width: 280px;
        height: 170px;
    }
    .tech-imgs .t-img {
        width: 280px;
        height: 170px;
    }
    .tech-imgs p{
        font-size: 9px;
    }
    .third-tech-images img {
        height: 150px;
        width: 272px;
    }
    .third-tech-images div {
        height: 150px;
        width: 272px;
    }
    
}