@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------navbar----------------- */

body{
    background-color: #000000;
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}
html{
}

 /* --------------------------Overview & brands box----------------------------  */
 section{
    background-color: #f2f2f2;
}
.overview-brand-box{
    width: 100%;
    height: 60px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.overview-brand-box div{
    margin-left: 100px;
}
.overview-brand-box a{
    margin: 10px;
    padding: 13px 5px;
    font-size:1.2rem ;
    font-family: 'Nuto Sans', sans-serif;
    text-decoration: none;
    color: white;
}
.overview-brand-box a:hover{
    border-bottom: 3px solid #00adef;
}
/* --------------------------feild content box----------------------------*/

.feilds-cont{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feilds-cont div{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.feilds-cont h1{ 
    margin-top: 50px;
    font-weight: 900;
    font-size: 1.5rem;
    font-family: KlavikaMedium;
}
.u-line{
    width: 15rem;
    height: 2px;
    margin-top: 15px;
    background-color: #00adef;
    display: flex;
    align-self: center;
}
.feilds-cont p{
    margin-top: 15px;
    font-size: 1.1rem;
    font-family: 'Nuto Sans', sans-serif;
}
/* --------------------------electronic-devices box---------------------------- */

.feilds-cont-box{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.electronic-devices-box{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    
}
.lhs{
    width: 40%;
}
.lhs div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 85%;
    height: 100%;
}
.rhs{
    width: 60%;
}
.lhs h1{
    margin-top: 20px;
    font-weight: 900;
    font-size:1.5rem;
    text-align: left;
    font-family: klavikaLight;
}
.lhs p{
    margin-top: 15px;
    font-size: 1.1rem;
    text-align: left;
    font-family: 'Nuto Sans', sans-serif;
}
 .rhs img{
    width: 100%;
}
/* ---------------------------heaalthcare box------------------------------ */

.healthcare-box{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
.healthcare-box .lhs{
    display: flex;
    justify-content:flex-end;
}

/* ---------------------------Autonomous Driving Technology box------------------------------ */
.autonomous-driving-box{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}
/* ---------------------------power-management box------------------------------ */

.power-management-box{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    padding-bottom: 30px;
}
.power-management-box .lhs{
    display: flex;
    justify-content:flex-end;
}
@media(max-width:1199px){
    .lhs p {
        font-size: 1.5vw;
    }
}
@media(max-width:991px){
    
}
@media(max-width:768px){
    .feilds-cont p {
        font-size: 1rem;
    }
    .lhs h1 {
        font-size: 1.5rem;
        margin-top: 0;
    }
    .lhs p {
        font-size: 1.6vw;
    }
@media(max-width:575px){
    
    .electronic-devices-box {
        flex-direction: column-reverse;
    }
    .rhs, .lhs {
        width: 100%;
    }
    .lhs div 
    {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .lhs p {
        font-size: 1rem;
        text-align: center;
    }
    .lhs h1 {
        margin-top: 15px;
    }
    .healthcare-box {
        flex-direction: column-reverse;
    }
    .autonomous-driving-box {
        flex-direction: column-reverse;
    }
    .power-management-box {
        flex-direction: column-reverse;
    }
}
@media(max-width:425px){
    
    .feilds-cont p {
        font-size: 1rem;
    } 
    .overview-brand-box div {
        margin-left: 0px;
    }
    .overview-brand-box {
        justify-content: center;
    }
    .lhs p {
        text-align: center;
    }
}
@media (max-width:375px){
    .lhs p {
        font-size: 4vw;
    }
}
@media (max-width:320px){
}
