@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@font-face{
    font-family: KlavikaMedium;
    src: url('../fonts/KlavikaMedium-TF.otf');
}
@font-face{
    font-family: KlavikaLight;
    src: url('../fonts/KlavikaLight-Plain.otf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------navbar----------------- */

body{
    background-color: #000000;
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}
header{
    position: absolute;
    width: 100%;
    z-index: 2;
}

 /* --------------------------Overview & brands box----------------------------  */

.overview-brand-box{
    width: 100%;
    height: 60px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.overview-brand-box div{
    margin-left: 100px;
}
.overview-brand-box a{
    margin: 10px;
    padding: 16px 5px;
    font-size:1.3rem ;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}
.overview-brand-box a:hover{
    border-bottom: 3px solid #00adef;
}
/* -----------------------------Brands----------------------------- */

.heading-container{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.brand-title{
    width: 85%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}
.brand-title h1{
    font-size: 2.5rem;
    font-family: KlavikaMedium;
    font-weight: 500;
    color: white;
}
.brand-title p{
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: KlavikaLight;
    color: white;
    font-weight: normal;
}

/* -----------------------------Brands search box------------------------------ */

.search-brand{
    margin-top:40px;
    width: 75%;
    height: 30px;
    outline: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-brand i{
    color: rgb(0, 0, 0);
}
.search-brand input{
    width: 97%;
    height: 28px;
    outline: none;
    border: 0;
}

/* ----------------------------- company brands----------------------------- */
.company-brands{
    width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.company-brands div{
    width: 240px;
    height: 250px;
    margin-left: 2.9vw;
    background-color: #1e1e1e;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
}
.company-brands div:hover{
    border-bottom: 2px solid #00adef;
}
.company-brands img{
    width: 120px;
    margin: 20px;
}
.company-brands h2{
    margin: 20px;
    color: #00adef;
    font-family:KlavikaLight;
    font-size: 1.2rem;
}
.company-brands p{
    margin: 5px 20px;
    color: #ffffff;
    font-family:'Noto Sans', sans-serif;
    font-size: .7rem;
}
/*  ---------------------------------need assistance-------------------------- */

.assistance{
    width: 85%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}
.assistance a {
    color: white;
    font-size: 1.7rem;
    font-family: KlavikaMedium;
    width: 24rem;
    border: 1.5px solid white;
    border-radius: 15px;
}
.enquiry{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}
.enquiry p {
    color: white;
    font-size: 1.5rem;
    font-family: KlavikaLight;
    padding: 3px;
}
.enquiry button {
    border: 0;
    background-color: #1e1e1e;
    font-size: 1rem;
    color: white;
    margin-left: 20px;
    padding: 3px 12px;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
}
.u-line{
    width: 15rem;
    margin: 30px 0;
    background-color: #00adef;
    display: flex;
    align-self: center;
}

@media(max-width:1199px){
    .lhs p {
        font-size: 1.5vw;
    }
    .brand-title h1 {
        font-size: 3.4vw;
    }
    .brand-title p {
        font-size: 1.7vw;
    }
}

@media(max-width:991px){

}
@media(max-width:768px){
   
}

@media(max-width:575px){
    .company-brands div {
        width: 300px;
    }
    .assistance a {
        font-size: 2rem;
    }
    .mic-logo img {
        width: 40vw;
    }
    .enquiry p {
        font-size: 1.5rem;
    }
    
}
@media(max-width:425px){
    .brand-title p {
        font-size: 2.5vw;
    }
    .brand-title h1 {
        font-size: 3.5vw;
    }
    .enquiry {
        flex-direction: column;
    }
    .enquiry button {
    margin-left: 0px;
    }
    .overview-brand-box div {
        margin-left: 0px;
    }
    .overview-brand-box {
        justify-content: center;
    }
    .lg-hr-three{
        margin-top: 55px;
    }
}

@media (max-width:375px){
  
}

@media (max-width:320px){
   
}