    .product-finder-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .search-container {
        width: 83%;
    }
    
    .fa-search:before {
        content: "\f002";
        padding: 8px;
    }
    
    .search-container h1,
    h4 {
        color: white;
    }
    
    .product-finder-section hr {
        height: .9px;
    }
    
    .search-container h1 {
        margin-top: 71px;
        font-family: Maxim-Klavika-MediumCondensed;
        font-size: 40px;
    }
    
    .search-container h4 {
        margin-top: 20px;
        font-family: Maxim-Klavika-lightCondensed;
        font-size: 30.4px;
    }
    
    .search-bar-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .search-product {
        margin-top: 40px;
        width: 80%;
        height: 35px;
        outline: none;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    
    .search-product i {
        color: rgb(0, 0, 0);
    }
    
    .search-product input {
        width: 97%;
        height: 28px;
        outline: none;
        border: none;
        padding: 5px;
    }
    
     ::placeholder {
        color: gray;
        font-style: normal;
    }
    /* ---------product fider page------------ */
    
    .groups-finder-container {
        width: 83%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 40px;
        margin: 60px 0px 60px 0px;
    }
    
    .groups-finder-container h3 {
        font-family: 'Maxim-Klavika-LightCondensed';
        color: rgb(41, 194, 255);
        font-size: 24px;
    }
    /* --------------featured-group--------- */
    
    .accordion {
        cursor: pointer;
        padding-top: 12px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .accordion h3 {
        color: white;
        color: white;
        font-family: 'Maxim-Klavika-LightCondensed';
        font-size: 24px;
    }
    
    .accordion:after {
        content: '\276F';
        color: #444;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        transform: rotate( 90deg);
        font-size: 18px;
    }
    
    .featured-groups .active:after {
        content: "\276E";
        color: rgb(41, 194, 255);
        font-size: 18px;
    }
    
    .panel {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    
    .panel a {
        color: #ccc;
        margin-top: 10px;
    }
    /* -----------product finder ------------------ */
    
    .product-finder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .product-finder-headings {
        width: 100%;
    }
    
    .product-finder-headings h3 {
        color: white;
        padding: 5px;
        background-color: rgb(31, 31, 31);
    }
    
    .product-finder-headings p {
        font-family: Maxim-Klavika-LightCondensed;
        color: white;
        padding: 5px;
        font-size: 22px;
    }
    
    .accordion-main {
        background-color: rgb(31, 31, 31);
        padding: 5px;
        margin-top: 5px;
    }
    
    .accordion-main.accordion:after {
        content: '\002B';
        font-weight: bold;
        float: right;
        margin-left: 5px;
        color: gray;
    }
    
    .accordion-main.active:after {
        content: "\2212";
        color: rgb(41, 194, 255);
        transform: rotate( 0deg);
    }
    
    .panel-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    
    .col {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .collapse-child .col {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .row {
        color: gray;
        padding: 5px;
        display: flex;
        align-items: center;
    }
    
    input[type=checkbox] {
        appearance: none;
        width: 18px;
        height: 18px;
        border: 1px solid gray;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
    
    input[type=checkbox]:checked {
        border: 1px solid white;
    }
    
    input[type=checkbox]:checked:after {
        content: '\2713';
        color: rgb(37, 211, 255);
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    
    .col label {
        color: gray;
        padding-left: 5px;
        font-size: 14px;
    }
    
    input[type=checkbox]:checked~label {
        color: white;
    }
    /* --------------------Standard collpsible------ */
    
    .standards-container {
        width: 100%;
        margin: 0 auto;
        text-align: left;
        background-color: black;
        color: white;
    }
    
    .standards-container .collapse-header {
        padding: 5px;
    }
    
    .collapse-header {
        background-color: white;
        margin: 5px;
        color: #505050;
        display: flex;
        justify-content: space-between;
    }
    
    .collapse-header.collapsed {
        background-color: rgb(31, 31, 31);
    }
    
    .collapse-header-main {
        background-color: rgb(31, 31, 31);
        margin: 0px;
        color: white;
        margin-top: 5px;
        font-family: 'Maxim-Klavika-LightCondensed';
        font-size: 24px;
        display: flex;
        align-items: center;
    }
    
    .collapse-child {
        max-height: 100em;
        opacity: 1;
        transition: all .5s ease-out;
        margin: 7px;
        overflow: hidden;
    }
    
    .collapse-header.collapsed+.collapse-child {
        max-height: 0;
    }
    
    .collapse-icon::after {
        content: "\2212";
        font-size: 18px;
        float: right;
        margin-left: 5px;
        color: rgb(41, 194, 255);
    }
    
    .collapsed .collapse-icon::after {
        color: gray;
        content: '\002B';
        transform: rotate( 0deg);
        font-size: 18px;
    }
    
    .collapse-child .collapse-icon::after {
        content: "\276E";
        font-weight: bold;
        float: right;
        margin-left: 5px;
        color: rgb(41, 194, 255);
        transform: rotate( 90deg);
    }
    
    .collapse-child .collapsed .collapse-icon::after {
        color: gray;
        content: '\276F';
        font-size: 18px;
    }
    /* ---------------------product result------------------------- */
    
    .related-container {
        width: 100%;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    
    .related-main {
        width: 100%;
    }
    
    #related-heading {
        background-color: black;
        color: white;
        font-family: 'Maxim-Klavika-LightCondensed';
        font-size: 24px;
    }
    
    .related-main h3 {
        margin: 8px 0px 8px;
        color: black;
    }
    
    .related-colap-container {
        margin-top: 12px;
    }
    
    .related-products {
        display: flex;
        height: 100px;
        background: white;
    }
    
    .r-image {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .r-image img {
        width: 45%;
    }
    
    .r-product-name {
        width: 70%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .r-product-name p {
        margin-top: 10px;
    }
    
    .r-button {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .r-button button {
        width: 80%;
        height: 40px;
        border: 1px solid #1e1e1e;
        border-radius: 4px;
    }
    
    .r-button button:hover {
        background: black;
        color: white;
    }
    /* pop-up css code starts from here */
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 132px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .pop-up-model-arrow {
        width: 30px;
        height: 30px;
        background-color: rgb(225, 225, 225);
        padding: 4px;
    }
    
    #pop-up-left-arrow {
        position: fixed;
        top: 50%;
        left: 13%;
    }
    
    #pop-up-right-arrow {
        position: fixed;
        top: 50%;
        right: 13%;
    }
    
    .modal::-webkit-scrollbar {
        display: none;
    }
    /*----------- Modal Content -----------------*/
    
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 59%;
        height: auto;
        margin-bottom: 100px;
    }
    /* ------------The Close Button------------------ */
    
    .close {
        color: #000000;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin: 10px 17px;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    /* -------------related pop up section on preview button----- */
    
    .pop-up-cart-Product-name h3 {
        font-size: 20px;
    }
    
    .pop-up-add-cart-container {
        background-color: white;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .pop-up-add-cart-main {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        margin: 30px 0px 30px 0px;
    }
    
    .pop-up-image-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .pop-up-main-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pop-up-main-image #pop-up-featured {
        max-width: 299px;
        object-fit: cover;
        cursor: pointer;
    }
    
    .pop-up-image-gallery-container {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .pop-up-image-gallery-container #pop-up-slider {
        width: 214px;
        display: flex;
        overflow-x: auto;
    }
    
    .pop-up-image-gallery .pop-up-thumbnail {
        width: 59px;
        border: 1px solid #ccc;
        padding: 3px;
        height: 44px;
        margin: 5px;
        opacity: 0.5;
        object-fit: cover;
        cursor: pointer;
    }
    
    .pop-up-thumbnail:hover {
        opacity: 1;
    }
    
    .pop-up-thumbnail.active {
        opacity: 1;
        border: 1px solid black;
    }
    
    #pop-up-slider::-webkit-scrollbar {
        display: none;
    }
    
    .pop-up-image-gallery-container .pop-up-arrow {
        width: 20px;
        height: 20px;
        margin: 10px;
        cursor: pointer;
    }
    
    .pop-up-image-gallery-container .pop-up-arrow:hover {
        opacity: .5;
    }
    /*   product description   */
    
    .pop-up-product-desc h3 {}
    
    .pop-up-product-desc ul {
        padding: 40px 10px 80px 10px;
    }
    
    .pop-up-product-desc li {
        list-style: disc;
        font-size: 16px;
    }
    
    .pop-up-cart-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .pop-up-btn {
        margin: 5px 0px 5px 9px;
        font-weight: bold;
        font-size: 12px;
        width: 172px;
        height: 40px;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
    
    .pop-up-btn-left {
        display: flex;
        justify-content: center;
    }
    
    .pop-up-btn-left img {
        padding: 5px;
        width: 30px;
        height: 33px;
    }
    
    .pop-up-btn a {
        text-decoration: none;
        font-size: 14px;
        color: black;
        padding: 10px;
    }
    
    .pop-up-btn-right:hover .pop-up-btn-text {
        color: white;
    }
    
    .pop-up-btn-right:hover {
        background-color: black;
    }
    
    .pop-up-btn-right a:hover {
        color: rgb(255, 255, 255);
        padding: 10px;
        font-size: 14px;
    }
    
    .pop-up-description-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .pop-up-description-main {
        width: 95%;
    }
    
    .pop-up-description-main p {
        margin-top: 10px;
    }
    
    .pop-up-specification-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .pop-up-cart-Product-name h3 {
        font-size: 30px;
    }
    
    .pop-up-specification-main {
        width: 95%;
    }
    
    .pop-up-specs-table {
        margin: 15px 0px 23px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }
    
    .pop-up-specs-table th,
    td {
        padding: 5px;
    }
    
    .pop-up-specs-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    /* ----------------media-queries----------- */
    
    @media (max-width: 1324px) {
        .pop-up-main-image #pop-up-featured {
            max-width: 266px;
        }
    }
    
    @media (max-width: 1268px) {
        .pop-up-add-cart-main {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 40px;
            margin: 0;
        }
        .pop-up-product-desc {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .pop-up-product-desc ul {
            padding: 40px 80px;
        }
        .pop-up-specs-table {
            font-size: 15px;
        }
    }
    
    @media(max-width:1124px) {
        .col label {
            font-size: 13px;
        }
        .search-container h1 {
            font-size: 38px;
        }
        .search-container h4 {
            font-size: 27.4px;
        }
        .accordion h3 {
            font-size: 22px;
        }
        .groups-finder-container h3 {
            font-size: 22px;
        }
        .panel a {
            font-size: 14px;
        }
        .collapse-child .collapse-header {
            font-size: 14px;
        }
        .pop-up-specs-table {
            font-size: 14px;
        }
        .related-products {
            display: flex;
            height: auto;
            flex-direction: column;
        }
        .r-image {
            width: 100%;
            padding: 10px;
        }
        .r-product-name {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .r-button {
            width: 100%;
            padding: 20px;
        }
        .r-button button {
            width: 60%;
            height: 40 px;
            border: 1 px solid #1e1e1e;
            border-radius: 4 px;
        }
    }
    
    @media(max-width:866px) {
        .pop-up-specs-table {
            font-size: 13px;
        }
        .search-container h1 {
            font-size: 36px;
        }
        .search-container h4 {
            font-size: 25.4px;
        }
    }
    
    @media (max-width: 785px) {
        .modal-content {
            width: 80%;
        }
        #pop-up-right-arrow {
            right: 0;
        }
        #pop-up-left-arrow {
            left: 0;
        }
    }
    
    @media(max-width:740px) {
        .pop-up-specs-table {
            font-size: 12px;
        }
        .pop-up-product-desc ul {
            padding: 30px 50px;
        }
    }
    
    @media(max-width:640px) {
        .groups-finder-container {
            grid-template-columns: 1fr;
        }
        .search-container h1 {
            font-size: 34px;
        }
        .search-container h4 {
            font-size: 23.4px;
        }
    }
    
    @media(max-width:590px) {
        .search-container h1 {
            font-size: 38px;
            margin-top: 40px;
        }
        .modal-content {
            width: 100%;
        }
        .pop-up-model-arrow {
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.1);
        }
        #pop-up-right-arrow {
            border-radius: 4px 0px 0px 4px;
        }
        #pop-up-left-arrow {
            border-radius: 0px 4px 4px 0px;
        }
        .pop-up-specs-table {
            font-size: 11px;
        }
    }
    
    @media(max-width:425px) {
        .r-product-name {
            font-size: 14px;
        }
        .pop-up-product-desc ul {
            padding: 20px 40px;
        }
        .search-container h1 {
            font-size: 34px;
        }
        .search-container h1 {
            font-size: 34px;
        }
        .product-finder-headings p {
            font-size: 20px;
        }
    }
    
    @media (max-width: 376px) {
        .search-product {
            width: 100%;
        }
        .search-container h4 {
            font-size: 20.4px;
        }
        .product-finder-headings p {
            font-size: 19px;
        }
    }
    
    @media(max-width:321px) {
        .product-finder-headings p {
            font-size: 17px;
        }
        .col label {
            font-size: 12px;
        }
        input[type=checkbox] {
            width: 16px;
            height: 16px;
        }
        .search-container h1 {
            font-size: 30px;
        }
        .search-container h4 {
            font-size: 19.6px;
        }
        .collapse-header-main {
            font-size: 18px;
        }
        .r-product-name {
            font-size: 12px;
        }
        .pop-up-specs-table {
            font-size: 10px;
        }
        .groups-finder-container h3 {
            font-size: 18px;
        }
        .pop-up-description-main p {
            margin-top: 10px;
            font-size: 14px;
        }
        .pop-up-cart-Product-name h3 {
            font-size: 18px;
        }
        .pop-up-product-desc li {
            font-size: 14px;
        }
        #related-heading {
            font-size: 18px;
        }
        .pop-up-main-image #pop-up-featured {
            max-width: 225px;
        }
    }