body {
    font-family: "Noto Sans", sans-serif;
}

.cart-Product-name {
    color: white;
    background-color: black;
}

.cart-Product-name h3 {
    font-family: Maxim-Klavika-MediumCondensed;
    font-size: 30px;
    padding: 23px;
    letter-spacing: 1px;
    font-weight: 500;
}

h3,
h2,
span {
    font-family: Maxim-Klavika-lightCondensed;
    font-size: 25px;
    font-weight: 1000;
}

.add-cart-container {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 640px;
}

.add-cart-main {
    width: 83%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    /* grid-gap: 60px; */
}


/*------------- product image ------------------- */

.image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image #featured {
    max-width: 399px;
    object-fit: cover;
    cursor: pointer;
}

.image-gallery-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-gallery-container #slider {
    width: 214px;
    display: flex;
    overflow-x: auto;
}

.image-gallery .thumbnail {
    width: 59px;
    border: 1px solid #ccc;
    padding: 3px;
    height: 44px;
    margin: 5px;
    opacity: 0.5;
    object-fit: cover;
    cursor: pointer;
}

.thumbnail:hover {
    opacity: 1;
}

.thumbnail.active {
    opacity: 1;
    border: 1px solid black;
}

#slider::-webkit-scrollbar {
    display: none;
}

.image-gallery-container .arrow {
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}

.image-gallery-container .arrow:hover {
    opacity: .5;
}


/*   product description   */

.product-desc h3 {
    padding: 100px 10px 5px 5px;
    font-size: 28px;
}

.product-desc ul {
    padding: 40px 10px 80px 10px;
}

.product-desc li {
    list-style: disc;
    font-size: 16px;
}

.cart-buttons {
    display: flex;
}

.btn {
    margin: 5px 0px 5px 9px;
    font-weight: bold;
    font-size: 12px;
    width: 240px;
    height: 40px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btn-left {
    display: flex;
    justify-content: space-between;
}

.btn-left img {
    padding: 5px;
    width: 30px;
    height: 33px;
}

.btn a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    padding: 10px;
}

.btn-right:hover .btn-text {
    color: white;
}

.btn-right:hover {
    background-color: black;
}

.btn-right a:hover {
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 14px;
}

#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}


/*------------ Request Product-------- */

.request-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 720px;
    display: none;
}

.request-main {
    width: 83%;
}

.request-main h2,
.request-main span {
    margin: 100px 0px 30px;
    font-size: 28px;
}

.request-main span {
    margin-left: 95px;
}

.request-main p {
    margin: 10px 0px 20px 0px;
}

.form-main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-bottom: 60px;
}

input {
    outline: none;
}

.form-main input[type=email],
input[type=text],
select {
    width: 100%;
    height: 40px;
    border: none;
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

input[type=number] {
    border: 1px solid #ccc;
}

.request-main textarea {
    width: 100%;
    border: none;
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    outline: none;
}

.form-main .text-area {
    grid-column: 1/3;
}

#text-area {
    resize: none;
}

.checkbox-date {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

.form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}

.form-left,
.form-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-right {
    display: flex;
    justify-content: flex-end;
}

.form-right input[type=date] {
    margin: 10px;
    height: 24px;
    border: 1px solid #ccc;
}

.form label {
    margin: 10px
}

.form-main .terms {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}

.form-main [type="button"],
.form-main [type="reset"],
.form-main [type="submit"],
.form-cancel-btn {
    -webkit-appearance: button;
    width: 130px;
    height: 40px;
    border: 1px solid #ccc;
    margin: 2px;
    padding: 5px;
    border-radius: 4px;
}

.form-main [type="submit"] {
    background-color: #00adef;
    color: white;
}

.form-main [type="reset"] {
    background-color: white;
}

.tied-together {
    display: block;
}


/* ---------------specification menu----------- */

.specs-bar {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-specs-bar {
    width: 83%;
}

.inner-specs-bar ul {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-specs-bar a {
    color: rgb(153, 153, 153);
    padding: 26.5px 0px 26.5px 0px;
}

.inner-specs-bar a:hover {
    color: white;
    border-bottom: 3px solid #00adef;
}


/* ----------------description section--------------- */

.description-container {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.description-main {
    width: 83%;
}

.description-main h3 {
    margin: 25px 0px 7px 0px;
}

hr {
    height: .8px;
    background-color: lightgray;
}

.description-main p {
    margin-top: 20px;
}


/* -----------specification -section------------ */

.specification-container {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.specification-main {
    width: 83%;
}

.specification-main h3 {
    margin: 20px 0px 7px 0px;
}

.specs-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.specs-table-overflow-container {
    width: 83%;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.specs-table {
    margin-top: 20px;
    text-align: left;
    border-collapse: collapse;
    border: 10px solid white;
}

.specs-table th,
td {
    padding: 5px;
}

.specs-table tr:nth-child(odd) {
    background-color: white;
}


/*----------------------- categories section---------------- */

.categories-container {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.categories-main {
    width: 83%;
}

.categories-main h3 {
    margin: 25px 0px 7px 0px;
}

.categories-main ul {
    display: flex;
    flex-wrap: wrap;
}

.categories-main li {
    margin: 10px 27px 0 0;
}

.categories-main li a {
    color: black;
}

.categories-main li a:hover {
    color: #00adef;
}


/* --------------------application section------------- */

.application-container {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.application-main {
    width: 83%;
}

.application-main h3 {
    margin: 25px 0px 7px 0px;
}

.application-main ul {
    display: flex;
    flex-wrap: wrap;
}

.application-main li {
    margin: 10px 27px 0 0;
}

.application-main li a {
    color: black;
}

.application-main li a:hover {
    color: #00adef;
}


/* ------------industries section------------ */

.industries-container {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.industries-main {
    width: 83%;
}

.industries-main h3 {
    margin: 25px 0px 7px 0px;
}

.industry-type {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin-top: 16px;
}

.industry a {
    color: black;
}

.industry a:hover {
    color: #00adef;
}


/* ----------Standards-Collapsible---------------- */

.standards-container {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.standards-main {
    width: 83%;
}

.standards-main h3 {
    margin: 25px 0px 7px 0px;
}

.standards-main hr {
    margin-bottom: 15px;
}

.standards-container .collapse-header {
    padding: 10px;
    background-color: #cacaca;
}

.collapse-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.collapse-header-main {
    display: flex;
    align-items: center;
}

.collapse-child {
    max-height: 100em;
    opacity: 1;
    transition: all .5s ease;
    margin: 5px 7px 0px;
    overflow: hidden;
}

.child-collapsible-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.collap-cont {
    padding: 5px;
}

.collapse-header.collapsed+.collapse-child {
    max-height: 0;
    transition: all .5s ease;
}

.collapse-icon::after {
    content: "\2212";
    font-size: 18px;
    float: right;
    margin-left: 5px;
    color: rgb(41, 194, 255);
}

.collapsed .collapse-icon::after {
    color: gray;
    content: '\002B';
    transform: rotate( 0deg);
    font-size: 18px;
}

.collapse-child .collapse-icon::after {
    content: "\276E";
    font-weight: bold;
    float: right;
    margin-left: 5px;
    color: rgb(41, 194, 255);
    transform: rotate( 90deg);
}

.collapse-child .collapsed .collapse-icon::after {
    color: gray;
    content: '\276F';
    font-size: 18px;
}


/* 
.collapsible-button {
    background-color: #cacaca;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 2px;
}

.collapsible-button:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.collapsible-button.active:after,
.collapsible.active:after {
    content: "\2212";
    color: #00adef;
}

.standardcontent {
    padding: 0 18px;
    max-height: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}



.collap-cont {
    padding: 5px;
}
 */


/* -----------------------collapsible Related-products-------------- */

.collapsible {
    background-color: #cacaca;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible.active,
.collapsible:hover {
    background-color: #c4c4c4;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.collapsible.active:after {
    content: "\2212";
}

.content {
    max-height: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    height: 600px;
}


/* --------------------Document section------------------- */

.documentation-container {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.documentation-main {
    width: 83%;
}

.documentation-main h3 {
    margin: 25px 0px 7px 0px;
}

.document-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    margin-top: 16px;
}

.doc {
    background-color: black;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.doc a {
    color: rgb(153, 153, 153);
    font-family: Maxim-Klavika-LightCondensed;
    font-size: 30px;
    font-weight: 600;
}

.doc:hover a {
    color: white;
    margin-top: 4px;
}

.doc:hover {
    border-bottom: 4px solid #00adef;
}


/* ----------------documentation------------ */

.promo-container {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.promo-main {
    width: 83%;
}

.promo-main h3 {
    margin: 25px 0px 7px 0px;
}

.product-video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Product-promo-video {
    width: 100%;
    height: 720px;
}


/* ------------related product section------- */

.related-container {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.related-main {
    width: 83%;
}

.related-main h3 {
    margin-top: 20px;
}

.related-colap-container {
    margin-top: 12px;
}

.related-products {
    display: flex;
    height: 100px;
    background: white;
    border-bottom: 1px solid gray;
}

.r-image {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.r-image img {
    width: 45%;
}

.r-product-name {
    width: 70%;
    padding-top: 24px;
}

.r-product-name p {
    margin-top: 10px;
}

.r-button {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.r-button button {
    width: 80%;
    height: 40px;
    border: 1px solid #1e1e1e;
    border-radius: 4px;
}

.r-button button:hover {
    background: black;
    color: white;
}


/* pop-up css code starts from here */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 132px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.pop-up-model-arrow {
    width: 37px;
    height: 37px;
    background-color: white;
    padding: 5px;
}

#pop-up-left-arrow {
    position: fixed;
    top: 50%;
    left: 13%;
}

#pop-up-right-arrow {
    position: fixed;
    top: 50%;
    right: 13%;
}

.modal::-webkit-scrollbar {
    display: none;
}


/*----------- Modal Content -----------------*/

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 59%;
    height: auto;
    margin-bottom: 100px;
}


/* ------------The Close Button------------------ */

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 10px 17px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* -------------related pop up section on preview button----- */

.pop-up-cart-Product-name h3 {
    color: black;
    font-size: 20px;
}

.pop-up-add-cart-container {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pop-up-add-cart-main {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin: 30px 0px 30px 0px;
}

.pop-up-image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.pop-up-main-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-main-image #pop-up-featured {
    max-width: 299px;
    object-fit: cover;
    cursor: pointer;
}

.pop-up-image-gallery-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up-image-gallery-container #pop-up-slider {
    width: 214px;
    display: flex;
    overflow-x: auto;
}

.pop-up-image-gallery .pop-up-thumbnail {
    width: 59px;
    border: 1px solid #ccc;
    padding: 3px;
    height: 44px;
    margin: 5px;
    opacity: 0.5;
    object-fit: cover;
    cursor: pointer;
}

.pop-up-thumbnail:hover {
    opacity: 1;
}

.pop-up-thumbnail.active {
    opacity: 1;
    border: 1px solid black;
}

#pop-up-slider::-webkit-scrollbar {
    display: none;
}

.pop-up-image-gallery-container .pop-up-arrow {
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}

.pop-up-image-gallery-container .pop-up-arrow:hover {
    opacity: .5;
}


/*   product description   */

.pop-up-product-desc h3 {}

.pop-up-product-desc ul {
    padding: 40px 10px 80px 10px;
}

.pop-up-product-desc li {
    list-style: disc;
    font-size: 16px;
}

.pop-up-cart-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pop-up-btn {
    margin: 5px 0px 5px 9px;
    font-weight: bold;
    font-size: 12px;
    width: 230px;
    height: 40px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.pop-up-btn-left {
    display: flex;
    justify-content: space-between;
}

.pop-up-btn-left img {
    padding: 5px;
    width: 30px;
    height: 33px;
}

.pop-up-btn a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    padding: 10px;
}

.pop-up-btn-right:hover .pop-up-btn-text {
    color: white;
}

.pop-up-btn-right:hover {
    background-color: black;
}

.pop-up-btn-right a:hover {
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 14px;
}

.pop-up-description-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pop-up-description-main {
    width: 95%;
}

.pop-up-description-main p {
    margin-top: 10px;
}

.pop-up-specification-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pop-up-cart-Product-name h3 {
    font-size: 30px;
}

.pop-up-specification-main {
    width: 95%;
}

.pop-up-specs-table {
    margin: 15px 0px 23px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.pop-up-specs-table th,
td {
    padding: 5px;
}

.pop-up-specs-table tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* model css code ends here */


/* ---------------media queries---------------- */

@media(max-width:1324px) {
    .pop-up-main-image #pop-up-featured {
        max-width: 266px;
    }
}

@media(max-width:1268px) {
    .pop-up-add-cart-main {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
        margin: 0;
    }
    .pop-up-product-desc {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .pop-up-product-desc ul {
        padding: 40px 80px;
    }
    .specs-table {
        font-size: 14px;
    }
    .Product-promo-video {
        height: 500px;
    }
}

@media(max-width:1119px) {
    .request-container {
        height: auto;
    }
    .main-image #featured {
        max-width: 330px;
    }
    .btn {
        width: 200px;
    }
    .inner-specs-bar ul {
        font-size: 14px;
        flex-wrap: wrap;
    }
    .specs-table {
        font-size: 13px;
    }
    .industry-type {
        grid-template-columns: repeat(4, 1fr);
    }
    .document-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .Product-promo-video {
        height: 450px;
    }
    .checkbox-date {
        grid-template-columns: repeat(1, 1fr);
        gap: white;
    }
    .form-right {
        justify-content: flex-start;
    }
}

@media(max-width:987px) {
    .inner-specs-bar ul {
        height: 80px;
        font-size: 14px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .inner-specs-bar a {
        padding-right: 15px;
    }
    .specs-table {
        font-size: 12px;
    }
    .request-main h2,
    .request-main span {
        margin: 11px 0px 0px -1px;
        display: block;
    }
    .pop-up-cart-Product-name h3 {
        font-size: 25px;
    }
    .pop-up-specs-table {
        font-size: 14px;
    }
}

@media(max-width:930px) {
    .add-cart-main {
        grid-gap: 30px;
    }
    .pop-add-cart-main {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
    }
    .btn {
        font-size: 10px;
        width: 178px;
    }
    .main-image #featured {
        max-width: 310px;
    }
    .Product-promo-video {
        height: 420px;
    }
    .child-collapsible-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .checkbox-date {
        justify-content: space-around;
    }
    .pop-up-specs-table {
        font-size: 13px;
    }
}

@media(max-width:785px) {
    .add-cart-container {
        height: auto;
    }
    .cart-Product-name h3 {
        font-size: 26px;
    }
    .add-cart-main {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        margin: 0;
    }
    .product-desc {
        padding-bottom: 40px;
    }
    .product-desc-content {
        padding-left: 5%;
    }
    .product-desc h3 {
        padding: 60px 10px 5px 5px;
        font-size: 24px;
    }
    .cart-buttons {
        justify-content: center;
    }
    .specs-table {
        font-size: 11px;
    }
    .industry-type {
        grid-template-columns: repeat(3, 1fr);
    }
    .document-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .Product-promo-video {
        height: 350px;
    }
    .child-collapsible-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .related-products {
        display: flex;
        height: auto;
        flex-direction: column;
    }
    .r-image {
        width: 100%;
        padding: 10px;
    }
    .r-product-name {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .r-button {
        width: 100%;
        padding: 20px;
    }
    .r-button button {
        width: 65%;
    }
    .pop-up-add-cart-container {
        height: auto;
    }
    .add-cart-main {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
    }
    .related-collap-content::-webkit-scrollbar {
        display: none;
    }
    .pop-up-cart-Product-name h3 {
        font-size: 22px;
    }
    .pop-up-product-desc ul {
        padding: 20px 40px;
    }
    .pop-up-specs-table {
        font-size: 11px;
    }
    .modal-content {
        width: 80%;
    }
    #pop-up-right-arrow {
        right: 0;
    }
    #pop-up-left-arrow {
        left: 0;
    }
}

@media(max-width:550px) {
    .inner-specs-bar ul {
        height: 100px;
    }
    .Product-promo-video {
        height: 260px;
    }
    .child-collapsible-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .form {
        grid-column: 1/3;
    }
    .pop-up-btn a {
        font-size: 13px;
        color: black;
    }
    .pop-up-btn {
        width: 190px;
    }
    .modal-content {
        width: 100%;
    }
    #pop-up-right-arrow {
        border-radius: 4px 0px 0px 4px;
    }
    #pop-up-left-arrow {
        border-radius: 0px 4px 4px 0px;
    }
    .pop-up-model-arrow {
        padding: 5px;
        background-color: #ccc;
    }
}

@media(max-width:426px) {
    .product-desc {
        padding-left: 0px;
        padding-bottom: 40px;
    }
    .cart-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .btn {
        font-size: 11px;
        width: 70%;
    }
    .inner-specs-bar ul {
        height: 120px;
    }
    .specs-table {
        font-size: 10px;
    }
    .industry-type {
        grid-template-columns: repeat(2, 1fr);
    }
    .Product-promo-video {
        height: 220px;
    }
    .form-right input[type=date] {
        width: 130px;
    }
    .pop-up-specs-table {
        font-size: 11px;
    }
}

@media (max-width: 375px) {
    .image-container img {
        width: 100%;
    }
    .document-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .Product-promo-video {
        height: auto;
    }
    .pop-up-specs-table {
        font-size: 10px;
    }
    .r-product-name {
        font-size: 13px;
    }
    .specs-table {
        font-size: 9px;
    }
}

@media (max-width: 325px) {
    .cart-Product-name h3 {
        font-size: 19px;
    }
    .main-image #featured {
        max-width: 225px;
    }
    .image-gallery-container #slider {
        width: 159px;
        display: flex;
        overflow-x: auto;
    }
    .image-gallery {
        width: 100%;
    }
    .btn {
        font-size: 11px;
        width: 70%;
    }
    .request-main h2,
    .request-main span {
        font-size: 25px;
    }
    h3 {
        font-size: 26px;
        margin: 0;
    }
    .pop-up-specs-table {
        font-size: 9px;
    }
    .form-right input[type=date] {
        width: 92px;
    }
    .r-product-name {
        font-size: 12px;
    }
}